/**
 * @name Rainbow Pings
 * @version 1.0.0
 * @author Notiphiliac
 * @description Recreates pings to look like Discord's 2018 April Fool's event. May not work with all other themes.
 * @authorId 207335168430702602
 * @source https://github.com/Notiphiliac/Discord-Themes
*/
@import url("https://notiphiliac.github.io/Discord-Themes/src/m-RainbowPing.css");
:root {
    --colour-1: 0,0,255; /*base value: 0,0,255*/
    --colour-2: 0,255,0; /*base value: 0,255,0*/
    --colour-3: 255,255,0; /*base value: 255,255,0*/
    --colour-4: 255,0,0; /*base value: 255,0,0*/
    --opacity: .2;  /*Change the number to change the transparency, base value: 0.2*/
    --opacity-hover: 0.3; /*base value: 0.4*/;
}