/**
 * @name Σxotic
 * @author Notiphiliac
 * @version 1.1.0
 * @description A tropical experience right inside Discord! No longer being updated - May have some issues.
 * @authorId 207335168430702602
 * @source https://github.com/Notiphiliac/Discord-Themes
*/
@import url("https://notiphiliac.github.io/Discord-Themes/src/exotic.theme.css");
/*-----variables-----*/
:root {
    --background: url(https://img5.goodfon.com/wallpaper/nbig/7/59/mmmmmm-nnnnnn-bbbbbb-vvvvvvvvvvvvvv.jpg);
    --popup-background: url(https://image.freepik.com/free-vector/tropical-flowers-wallpaper_23-2148523155.jpg);
    --accent-1: #faf0e8; /*scroller and link colours*/
    --accent-2: #2a4f34; /*main accent colours*/
    --transparent-1: rgba(0, 0, 0, 0.3);
    --transparent-2: rgba(0, 0, 0, 0.5);
    --transparent-3: rgba(0, 0, 0, 0.7);
}
