:root {
	--spacing: 5px;
	--border: 5px;
}
.body-1Ukv50 ::-webkit-scrollbar-track-piece {
  background:  transparent!important;
  border: none!important;
}
.body-1Ukv50 ::-webkit-scrollbar-thumb {
  background: var(--brand-500)!important;
  border: none!important;
  border-radius: var(--border)!important;
}
.body-1Ukv50 ::-webkit-scrollbar {width: var(--spacing)!important;}
.scroller-2TZvBN::-webkit-scrollbar, .scroller_de945b::-webkit-scrollbar {width: 0!important;}

/* Profile Modal */
.userProfileModalOuter__90b4a, .userProfileModalInner__84e47 {
    width: 700px;
	height: 450px;
	border-radius: var(--border);
}
.userProfileModalInner__84e47 {
	display: grid;
	grid-template-columns: 200px auto;
}
/*Avatar Section */
.userProfileModalInner__84e47 .header-S26rhB {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	justify-items: center;
	height: 450px;
	width: 200px;
	pointer-events: none;
}
.avatar-3QF_VA foreignObject {mask: none;}
.avatar-3QF_VA img {
	border-radius: var(--border);
	overflow: hidden;
}
.userProfileInnerThemedNonPremium_b64fb4 .header-S26rhB {
	margin-top: -106px;
}
.avatar-3QF_VA, .headerTop-1PNKck {
	position: relative;
	left: unset;
	top: unset;
	right: unset;
	align-self: center;
	justify-self: center;
	margin: var(--spacing);
	pointer-events: all;
}
.headerTop-1PNKck {
	box-sizing: border-box;
	width: 150px;
	display: flex;
	align-content: center;
	justify-content: center;
}
.badgeList-2aoHPw {
	margin: 0;
	padding: var(--spacing);
	border-radius: var(--border);
}
.relationshipButtons-3ByBpj {
	position: absolute;
	top: -270px;
	left: unset;
	right: -520px;
}
/* Banner (Non themed profile) */
.bannerSVGWrapper__8a38c {
    contain: unset;
    overflow: visible;
}
.pencilContainer_ae6d25 {
	pointer-events: all;
	border-radius: var(--border);
}
.bannerSVGWrapper__8a38c foreignObject {
    mask: unset;
}
.userProfileInnerThemedNonPremium_b64fb4.userProfileModalInner__84e47 .bannerSVGWrapper__8a38c {pointer-events: none;}
.userProfileModalInner__84e47 .banner__6d414:not([style*="image"]), .userProfileInnerThemedNonPremium_b64fb4.userProfileModalInner__84e47 .bannerSVGWrapper__8a38c foreignObject{
    height: 450px;
    width: 200px;
	border-radius: var(--border);
}
/* Banner (Themed profile) */
.root-8LYsGj:has(.userProfileInnerThemedWithBanner_e9e7c5) {
	margin-top: 180px;
	overflow: visible;
}
.root-8LYsGj .userProfileInnerThemedWithBanner_e9e7c5 .bannerSVGWrapper__8a38c {
	position: absolute;
	width: 700px;
	top: calc(-250px - var(--spacing)*2);
	border-radius: var(--border);
	padding: var(--spacing);
	margin: calc(var(--spacing) * -1);
	background: linear-gradient(var(--profile-gradient-primary-color),var(--profile-gradient-primary-color) 120px,var(--profile-gradient-secondary-color));
}
/* Modal Contents */
.root-8LYsGj .overlayBackground__345c9, .body-1Ukv50, .userInfoSection-2u2hir {
	background-color: transparent;
	margin: 0;
	padding: 0;
	flex: 1;
}
.container-3g15px, .tabBarContainer-sCZC4w {
	padding: var(--spacing);
	margin: var(--spacing) var(--spacing) 0 var(--spacing);
	border-radius: var(--border);
}
.infoScroller-1QMpon {
	margin: var(--spacing);
	padding: 0;
}
.container-3g15px, .userInfoSectionHeader-2mYYun, .userInfoSectionHeader-2mYYun + div {
	background-color: var(--profile-body-background-color);
	padding: var(--spacing);
}
.body-1Ukv50:has(.tabBarContainer-sCZC4w) {
	display: grid;
	grid-template-rows: calc(80px + var(--spacing) * 4) calc(30px + var(--spacing)) auto;
}
.userInfoSectionHeader-2mYYun {
	border-radius: var(--border) var(--border) 0 0;
	margin: 0;
}
.userInfoSectionHeader-2mYYun + div {
	border-radius: 0 0 var(--border) var(--border);
	overflow: hidden;
	margin-bottom: var(--spacing);
}
.note-3M15gE {
	margin: unset;
}

/* Username Section */
.container-3g15px, .container-3g15px > div:has(.text-lg-semibold__84aef,.pronouns-RGQpyK) {
	max-width: 275px;
	width: fit-content;
	min-width: 150px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.header-S26rhB:has(.relationshipButtons-3ByBpj button+button) {
	max-width: 200px;
}
.text-lg-semibold__84aef {
	margin: 0!important;
}
.body-1Ukv50:has(.tabBarContainer-sCZC4w .selected_a523ff:not([aria-controls="user_info-tab"])) .container-3g15px > div ~ div:has(.customStatus-3qYNe4) {
 display: none;
}
.container-3g15px {
	height: 90px;
}
.container-3g15px > div ~ div:has(.customStatus-3qYNe4) {
	position: absolute;
	top: calc(80px + var(--spacing) * 2 );
	left: 5px;
	background-color: var(--profile-body-background-color);
	z-index: 2000;
	padding: var(--spacing);
	border-radius: var(--border);
	min-width: calc(500px - var(--spacing) * 5);
	max-width: calc(500px - var(--spacing) * 4);
	height: 48px;
	overflow: scroll;
	overflow-x: hidden;
}
.body-1Ukv50:has(.tabBarContainer-sCZC4w) .container-3g15px > div ~ div:has(.customStatus-3qYNe4) {top: calc(80px + 30px + var(--spacing) * 6 );}
.container-3g15px > div ~ div:has(.customStatus-3qYNe4 img ~ span, .customStatus-3qYNe4 span) {
	height: 20px;
}
.customStatus-3qYNe4 {
	margin: 0;
}
.body-1Ukv50:has(.customStatus-3qYNe4 img) .infoScroller-1QMpon {
	padding-top: calc(48px + var(--spacing) * 4);
}
.body-1Ukv50:has(.customStatus-3qYNe4 span) .infoScroller-1QMpon {
	padding-top: calc(20px + var(--spacing) * 4);
} 

/* Tab Bars (user info/activities/mutual servers stuff*/
.tabBarContainer-sCZC4w {
	padding: var(--spacing) var(--spacing) 0 ;
	border: none;
	margin-bottom: calc( -1 * var(--spacing));
	height: 30px;
}
.divider-SH6OnO {
	display: none;
}
.tabBarContainer-sCZC4w, .tabBar-2hXqzU {
	display: flex;
	align-items: end;
	justify-content: end;	
	gap: var(--spacing);
	min-width: 250px
}
.tabBarItem_ce14f3 {
	height: 25px;
	padding: 0 var(--spacing);

}
.top_fae1fa .selected_a523ff.themed_b957e8.item__48dda {
	background-color: var(--brand-500);
	border-radius: var(--border) var(--border) 0 0;
}

/* Connected Accounts */
.connectedAccounts__7a8e6 {
	border: none!important;
	align-content: center;
	justify-content: center;
}
.connectedAccountsColumn__57331 {
	flex-direction: row;
	margin: 0!important;
	width: unset;
}
.connectedAccountContainer__5972d {
	width: 24px; height: 24px;
	margin: var(--spacing);
	padding: var(--spacing);
	background-color: var(--profile-body-background-color);
	border-radius: var(--border);
}
.connectedAccount__75282 {width: 24px; height: 24px;}
.connectedAccount__75282 img {
	position: absolute;
}
.connectedAccountContainer__5972d .text-md-semibold__79164 {
	opacity: 0;
	position: absolute;
	margin-left: calc(24px + var(--spacing) * 2);
	background-color: var(--profile-body-background-color);
	padding: var(--spacing);
	border-radius: var(--border);
	z-index: 2000;
	pointer-events: none;
}
.connectedAccount__75282 .text-xs-normal_ccc5fb {
	display: none;
}
.connectedAccountVerifiedIcon__103a6 {
	left: 24px;
}
.connectedAccountContainer__5972d:hover .text-md-semibold__79164 {
	opacity: 1;
}
.connectedAccountName__0a3ec a {
	opacity: 0;
	margin-left: -6px;
}
/* Activity */
.userProfileActivity-sal5no {
	margin: var(--spacing);
	padding: var(--spacing);
	background-color: var(--brand-500);
	border-radius: var(--border);
}
.userProfileActivity-sal5no:has(.body__3620e .assets__5bee0) {
	background-color: #9146FF;
}
.userProfileActivity-sal5no:has(.body__3620e .assets__5bee0):has(.platformIcon_a2d873) {
	background-color: #1DB954;
}

/* Mutual Servers/Friends */
.listScroller__18a19 {
	padding: 0;
}
.listRow__50619 {
	background-color: var(--profile-body-background-color);
	border-radius: var(--border);
	margin: var(--spacing);
	padding: var(--spacing);
}

/* Data Access (Bots) */
.listScroller__18a19 .row-3NCCgF {
	background-color: var(--profile-body-background-color);
	border-radius: var(--border);
	margin: var(--spacing);
	padding: var(--spacing);
}
.listScroller__18a19 .divider-1NwQuP {
	padding: 0 var(--spacing);
}