@import url('https://fonts.googleapis.com/css?family=Montserrat');
:root { --accent: 49, 56, 97}
#app-mount {
    --background-primary: #2e2e2e;
    --background-secondary: #252525;
    --background-secondary-alt: #212121;
    --background-tertiary: #1a1a1a;
    --background-floating: #1f1f1f;
    --channeltextarea-background: #212121;
    --background-modifier-selected: rgba( var(--accent));
    --background-modifier-active: rgba( var(--accent));
    --background-modifier-hover: rgba(var(--accent), 0.5);
    --text-link: #93c9d7;
    --background-accent: rgba(var(--accent), 1);
    --brand-experiment-560:rgba(var(--accent), 1);
    --brand-experiment: rgb(var(--accent));
 }
 /*font*/
body, div, span, textarea, ::-webkit-input-placeholder {font-family: 'Montserrat', serif;}
.name__7afe8 span, .username__0b0e7, .channelName-3KPsGw, .title-3XlmeX {font-weight: 400; font-size: 17px; text-decoration: underline;}
.name__7afe8 span:hover, .username__0b0e7:hover, .channelName-3KPsGw:hover, .title-3XlmeX:hover {font-weight: bolder;}
.hljs, .inline,
.hljs :-webkit-any(ol, li, span),
.editor-wrapper :-webkit-any(textarea, div, span) {font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;}
 /*scrollers*/ 
::-webkit-scrollbar-track-piece {
    background: transparent!important;
    border: none!important;
    border-radius: 0!important;
  }
  :not(.scroller_de945b)::-webkit-scrollbar-thumb {
    background: rgba( var(--accent))!important;
    border: none!important;
    border-radius: 0!important;
  }
  ::-webkit-scrollbar-track-piece {
    background: transparent!important;
    border: none!important;
    border-radius: 0!important;
  }
:not(.scroller_de945b)::-webkit-scrollbar {width: 5px!important;}

.base_c0676e {
   margin: -100px; padding: 100px; 
   z-index: 1;
}
/* Guild List */
.guilds__2b93a {
    max-height: 75vh;
    padding-left: 2px;
    -webkit-mask: linear-gradient(0deg, transparent, black 7%);
    mask: linear-gradient(0deg, transparent, black 7%);
    z-index: 2;

}
[id*="folder-items"] {height: unset!important;}
.wrapper__8436d.selected_ae80f7 .childWrapper_a6ce15, .wrapper__8436d:hover .childWrapper_a6ce15 {background-color: rgba( var(--accent));}
#bd-pub-li {margin: 0;}
#bd-pub-button {
   background-color: var(--background-primary);
   border-radius: 0;
   transition-duration: 0.3s;
}
#bd-pub-button:hover {background-color: rgba( var(--accent));}
.item_f9d377, .wrapper_b4903b {
   border-radius: 0;
   height: 60px; width: 6px!important;
   margin-left: 0px;
   z-index: 3;
   pointer-events: none;
}
.tutorialContainer_b06ae6 ~ div[style*="56px"] {
   height: 60px!important;
}

.item_f9d377[style*="40px"] {height: 60px!important;}
.item_f9d377 {
   background-color: rgba( var(--accent));
   pointer-events: none;
}
.guildSeparator__75928 {display: none}
.listItem__48528 {
   border: 1px solid var(--background-secondary);
   height: min-content; width: min-content; 
   margin: 0;
}
.wrapper-28eC3z {border-left: 1px solid var(--background-secondary);}
.wrapper-28eC3z {margin-left: 6px;}
.listItem__48528 .wrapper-28eC3z, .listItem__48528 .wrapper-28eC3z svg {height: 60px; width: 60px;}
.listItem__48528 * {
   border-radius: 0;
   mask: none;
}
.expandedFolderBackground-2sPsd- {
   background-color: var(--background-primary) ;
   width: 58px;
   left: 7px;
}
.numberBadge__40d6f.base__5ed84 {
   border-left: 1px solid var(--background-primary); border-top: 1px solid var(--background-primary);
   border-radius: 0;
}
.upperBadge-1V6Iyi .iconBadge__0c126 {
   border-left: 1px solid var(--background-primary); border-bottom: 1px solid var(--background-primary);
   border-radius: 0;
}
/* Sidebar and Chat */
.sidebar_e031be .scroller__89969, .sidebar_e031be .scroller__1f498, .panels__58331 {width: 0;}
.sidebar_e031be:hover .scroller__89969, .sidebar_e031be:hover .scroller__1f498, .sidebar_e031be:hover .panels__58331 {width: 240px;}
.container_bd15da, .chat__52833, .container-36u7Lw, .applicationStore__444b9 {overflow: visible;}
.container_e1958d, .activityPanel_b73e7a {overflow: hidden;}
.chatContent_f087cb:not([aria-label="Thread"]), #app-mount .tabBody_a90ea8, .stickyScroller-2KHfQk, .scroller__244e5 {
    background-color: var(--background-primary);
    width: calc(100% + 240px);
    margin-left: -240px;
}

.wrapper__6bf2d.minimum__7f356, .wrapper__6bf2d.normal_f121db {
    position: absolute;
    width: 100%;
}
.wrapper__6bf2d.minimum__7f356 + div .searchResultsWrap__2e184 {
   height: calc(100% - 190px);
   margin-top: 190px;
   bottom: 0;
}
div + .content__01e65 {
    max-height: calc(100% - 48px);

    -ms-flex-align: center;
}
.sidebar_e031be:hover + div + div .chatContent_f087cb,.sidebar_e031be:hover + div .chatContent_f087cb, #app-mount .sidebar_e031be:hover + div .tabBody_a90ea8,
 .sidebar_e031be:hover + div .stickyScroller-2KHfQk, .sidebar_e031be:hover + div .scroller__244e5 {
    width: 100%!important; margin-left: 0!important;
}
.theme-dark .container_bd15da {
    width: calc(100vw - 312px);
}
.chatContent_f087cb,#app-mount .tabBody_a90ea8, .scroller__89969, .scroller__1f498, .scroller__244e5, .stickyScroller-2KHfQk, .panels__58331, .content__01e65 {transition: width 0.6s, margin-left 0.6s;}
.activityPanel_b73e7a {padding: 8px 0;}
.sidebar_e031be:hover .activityPanel_b73e7a {padding: 8px;}
[href="/discovery"] {display: none;}

/* Friends List */
.peopleColumn__0c784 .scrollerBase-_bVAAt {
    overflow: visible !important;
}

.peopleColumn__0c784>div>div {
   display: grid;
   grid-template-columns: 33% 33% 33%;

}
.peopleColumn__0c784 {
   overflow: hidden scroll;
}
.peopleColumn__0c784 {
   padding: 30px 0 0 0;
}
.peopleColumn__0c784 .title-3XlmeX {
   font-size: 24px;
   position: absolute;
   top: -5%;
   left: 40%;
   overflow: visible;
}
.text_bd79a3 {display: none;}
.peopleListItem_dab480 {
   border: 1px solid rgba( var(--accent))!important;
   margin: 0!important;
   padding: 50px 10px!important;
}
.peopleListItem_dab480.active__6b8ff, .peopleListItem_dab480:hover {
   background-color: transparent;
}
.avatar__8986c {width: 64px!important; height: 64px!important;}
.actions_bd37ed {flex-direction: column;}
.actionButton__2b4bb {margin: 2px 0;}
/* User Info */
.avatarWrapper__500a6 .wrapper-1VLyxH foreignObject {mask: none;}
.container_debb33 {
   width: 72px!important;
   padding: 0;
   display: flex;
   flex-direction: column;
   position: absolute;
   left: -75px;
   bottom: 100px;
}
.avatarWrapper__500a6.withTagAsButton_e22174 {
   min-width: 0!important;
   max-width: 72px!important;
}
.nameTag__77ab2.canCopy__8ec33 {
    background-color: black;
    width: 0;
    padding: 5px 0;
    transition-duration: 0.3s;
    position: absolute;
    left: 55px;
    top: 30px;
    z-index: 3;
}
.avatarWrapper__500a6, .nameTag__77ab2.canCopy__8ec33 {margin: 0;}
.avatarWrapper__500a6:hover + .nameTag__77ab2.canCopy__8ec33, .nameTag__77ab2.canCopy__8ec33:hover {
    width: 100px; 
    padding: 5px;
}
.avatarWrapper__500a6 {
    z-index: 2;
    pointer-events: none;
}
.avatarWrapper__500a6 img {
    border-radius: 50%;
}
.container_debb33 .flex_f18b02 {
    margin-top: 40px;
    flex-direction: column;
}
.container_debb33 .flex_f18b02 .button_ae40a4:last-of-type {
    opacity: 0;
    bottom: calc(100% + 40px);
}
.directionRow__65900 .button_ae40a4:last-of-type :hover svg {
    opacity: 1;
}
#app-mount .avatarWrapper__500a6 .mask-1FEkla > rect[x="22"] {
    x: 6;
    y: 42;
    width: 20px; height: 20px;
    mask: none;
    clip-path: circle(50.0% at 50% 50%);
}
#app-mount .avatarWrapper__500a6 .mask-1FEkla {border-radius: 40px;}
#app-mount .avatarWrapper__500a6 .mask-1FEkla rect:not(.pointerEvents-9SZWKj) {
    x: -8.5;
    y: 25;
    width: 20px; height: 20px;
    mask: none;
    clip-path: circle(50.0% at 50% 50%);
}
#app-mount .wrapper-1VLyxH svg:not(:root) {
    overflow: visible;
    border-radius: 20px;
}
.avatar_f8541f foreignObject {
   overflow: visible;
}
/* Avatars */ 
.wrapper-1VLyxH foreignObject, .avatarHint-1E3LMl foreignObject, .viewer-2fFR_X, .callAvatarMask__11fbc foreignObject {
   mask: none!important; -webkit-mask: none;
   border-radius: 0; 
}
.avatarHint-1E3LMl {left: 4px; top: 4px;}
.avatar__08316, .wrapper-1VLyxH img, .voiceAvatar_d0dbc5 {
   border-radius: 0;
   clip-path: polygon(25% 0%, 100% 0, 100% 50%, 75% 100%, 0 100%, 0% 50%);
   transition-duration: 0.7s;
}
.avatar__08316:hover, .wrapper-1VLyxH:hover img, .callAvatarMask__11fbc:hover img {clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0% 50%)}
.border_e782de.speaking_b20122 { /*call speak*/
   background-color: rgb(var(--accent));
   box-shadow: inset 0 0 0 2px rgb(var(--accent));
   border-radius: 0!important;
   z-index: -1;
   margin: -2px;
}
.callAvatarMask__11fbc div { /*stop the circle*/ border-radius: 0!important;}
/* Status Popout */
#status-picker {
    width: max-content;
    top: 160px; left: 60px;
    display: flex;
    flex-direction: column;}
#status-picker .separator-1So4YB:nth-child(2),
#status-picker .item-1OdjEX .description__38e73,
#status-picker .item-1OdjEX .status__0fce8 {
    display: none;
}

#status-picker .item-1OdjEX .statusItem__9b512 {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#status-picker svg {transform: scale(1.25);}

/* font */
   /*profile modal*/ 
.root-SR8cQa {
   border-radius: 0;
   height: 300px!important; width: 70vw!important;
   flex-direction: row;
}
.topSectionPlaying-1J5E4n, .topSectionNormal-2-vo2m, .topSectionSpotify-1lI0-P, .topSectionStreaming-1Tpf5X {
   min-width: 300px; max-width: 300px;
   overflow-y: scroll;
   overflow-x: hidden;
}
.header-QKLPzZ, .infoScroller-3EYYns, .activity-1ythUs {
   padding: 5px;
   align-items: center;
   flex-direction: row;
   flex-wrap: wrap;
}
.topSectionPlaying-1J5E4n, .topSectionSpotify-1lI0-P, .topSectionStreaming-1Tpf5X {background-color: var(--background-tertiary);}
.topSectionPlaying-1J5E4n .activity-1ythUs {background-color: #7289da;}
.topSectionSpotify-1lI0-P .activity-1ythUs {background-color: #1db954;}
.topSectionStreaming-1Tpf5X .activity-1ythUs {background-color: #593695;}
.avatar-3EQepX {
   margin-right: 5px;
}
.header-QKLPzZ .grow-q77ONN {
   width: 300px;
   margin-top: 5px;
}
.header-QKLPzZ > [tabindex="0"] {
   position: absolute;
   left: 260px;
}  
.activity-1ythUs .bodyNormal__77cee {flex-wrap: wrap;}
.contentImagesProfile_a073ca {max-width: 190px;}
.actionsProfile_e93ceb {margin: 0;}
.contentImagesProfile_a073ca {
    justify-content:  center!important;
    text-align: center;
}
.root-SR8cQa .tabBarContainer-1s1u-z {
   border: none;
   padding-left: 30px;
   position: absolute;
   top: 0; left: 300px;
}
.tabBar-2MuP6- {height: 30px;}
.body-3ND3kc {
   height: 100%; width: 42vw;
   margin-top: 30px;
}
.connectedAccounts-repVzS {
   display: grid;
   grid-template-columns: 20vw 20vw;
   align-items: center;
}
.connectedAccount-36nQx7 {
   max-width: 90%;
   margin: 4px; padding: 5px
}
/*avatar popout*/
.avatar-2Vndt_, .avatar-3QF_VA {
   background-color: var(--background-secondary);
   border: 4px solid var(--background-secondary); border-radius: 0;
   }
.userPopout-3XzG_A {
   background-color: var(--background-secondary);    border-radius: 0px;

}
#app-mount .headerNormal-T_seeN, #app-mount .body-3iLsc4 {background-color: transparent;}
.body-3iLsc4 {
   padding: 5px;
   justify-content: center;
   align-items: center;

}
.footer-1fjuF6 {
    display: none;
}
.root_a99273 {
   background-color: var(--background-tertiary);
   max-width: 300px; max-height: 75px;
   margin-top: 0; margin-bottom: 5px; padding: 5px;
   overflow-y: scroll;
}
.note-3HfJZ5 {
   background-color: var(--background-tertiary);
   max-height: 70px!important;
   overflow-y: scroll;
   margin: 0;
}
.input-2g-os5, .input-2g-os5:hover {background-color: transparent!important;}
/*settings*/

.standardSidebarView__12528 .contentRegion__08eba {
   z-index: auto;
}

.standardSidebarView__12528 .keybind_a619c1 {
   display: none;
}
 
.standardSidebarView__12528 .tools_c0ff70 {
   position: static;
}

.standardSidebarView__12528 .closeButton__8177f {
   position: fixed;
   cursor: default;
   height: 100vh;
   width: 100vw;
   top: 0;
   left: 0;
   border: none;
   border-radius: 0;
   z-index: -1;
   transition:.2s linear;
}

.standardSidebarView__12528 .closeButton__8177f:hover {
   background-color: transparent;
}
.standardSidebarView__12528 .closeButton__8177f svg {
   display: none;
}
#app-mount .layer_f7d46a [aria-label*=SETTINGS] {
   display: flex;
   align-items: center;
   justify-content: center;
   background: rgba(0, 0, 0, 0.7)!important;
   transform: none !important;
   z-index:100;
}
#app-mount .layer_f7d46a [aria-label*=SETTINGS]>div {
 
   position: relative;
   width: 90%;
   height: 80%;
   z-index: 3!important;
   border-radius: 0;
   overflow: hidden;
}
.sidebarRegion__36437 {max-width: 218px;}
.contentColumn__5f80b, .customColumn__0b6a6 {
   max-width: 100%;
}
#app-mount .layer_f7d46a .baseLayer__2b890 {
   opacity: 1 !important;
   transform: scale(1) !important;
}

.sidebar__02e8d {padding: 0}
.contentColumnDefault__78de3 {padding: 0 10px}
.cardPrimary-3qRT__, .cardPrimaryEditable-2mz_3i {background-color: var(--background-tertiary);}
.input-2g-os5 {
   background-color: var(--channeltextarea-background);
   border: none; border-radius: 0;
}
.multiInputLast-1aQ3YA:before {
   background-color: rgba( var(--accent));    opacity: 1;
   border: none;
   height: 40px;
   margin: 0;
}