/**
  * @name ReFresh
  * @version 0.9.0
  * @author Pastel Love
  * @description A compact theme that brings a fresh look to Discord
  */
:root {
	--spacing: 5px;
	--border: 5px;
}
/* Border Radius stuff */
button {
	border-radius: var(--border) !important;
	overflow: hidden;
}
/* Scrollers */
#app-mount ::-webkit-scrollbar-track-piece {
	background: transparent !important;
	border: none !important;
}
::-webkit-scrollbar-thumb {
	background: var(--accent-2) !important;
	border: none !important;
	border-radius: var(--border) !important;
}
::-webkit-scrollbar {width: var(--spacing) !important;}
.scroller-2TZvBN::-webkit-scrollbar,
.scroller_de945b::-webkit-scrollbar {
	width: 0 !important;
}

/* Friends list */
.topPill__63ad4 {
	background-color: var(--background-tertiary);
	border-radius: var(--border);
	padding: var(--spacing) 0;
}
.tabBar__73938 .item_e4ca95 {
	margin: 0 var(--spacing);
	padding: var(--spacing);
}
.tabBar__73938 .addFriend__4c0a2.addFriend__4c0a2.addFriend__4c0a2[aria-selected=true] {
	background-color: var(--brand-500);
	color: #fff;
}
.title_c42cad {
	margin: var(--spacing);
	text-align: center;
}
.searchBar__310d8 {
	margin: var(--spacing);
}
.peopleList_d2f527 {
	margin: 0;
	padding: 0;
}
.peopleList_d2f527>div {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.peopleListItem_dab480 {
	margin: var(--spacing) !important;
	padding: var(--spacing) !important;
	border: none;
	border-radius: var(--border);
	background-color: var(--background-secondary);
}
.actions_bd37ed,
.actions__6ae9f {
	display: flex;
	flex-direction: column;
	background-color: var(--background-tertiary);
	border-radius: var(--border);
}
.actionButton__2b4bb {
	margin: var(--spacing) !important;
	height: 20px;
	width: 20px;
	border-radius: var(--border);
	&:hover {background-color: var(--brand-500);}
}
.wrapper__3c6d5 {
	padding: var(--spacing);
	border-radius: var(--border);
	margin-top: var(--spacing);
}
/* User Profile Section (DMs) */
.userPanelInnerThemed__651e4 {
	.none_ff9f86>div:first-of-type {
		display: flex;
		flex-wrap: wrap;
	}
	.avatarWrapper__0cd44,.badgelistGroup__8f7c7 {
		display: inline;
		align-self: flex-start;
		justify-self: start;
	}
	.badgelistGroup__8f7c7 {margin: 0;}
	.badgeList__76720 {
		width: 22px;
		height: 80px;
		margin: var(--spacing) 0;
		padding: 0 var(--spacing);
		box-sizing: content-box;
		justify-items: center;
		align-items: center;
		&:has(*:nth-child(4)) {width: 44px;}
		&:has(*:nth-child(7)) {width: 66px;
		}
	}
	.section__62b44 {
		background-color: var(--profile-body-background-color);
		border-radius: var(--border);
		padding: var(--spacing);
		margin: 0 var(--spacing) var(--spacing);
		&:has(.markup_a7e664) {
			margin-bottom: 0;
			border-radius: var(--border) var(--border) 0 0;
		}
		&:has(.body__323bb) {border-radius: 0 0 var(--border) var(--border);}
	}
	& div:not(.overlayBackground__345c9)+.overlayBackground__345c9>.section__62b44:first-child {
		height: 80px !important;
		display: flex;
		flex-direction: row;
		align-items: center;
		position: absolute;
		top: calc((var(--spacing) * 2 + 80px) * -1);
		left: calc(var(--spacing) * 3 + 80px);
		padding: 0 var(--spacing);
		margin: var(--spacing);
		width: calc(100% - (var(--spacing) * 7 + 80px));
	}
	& div:has(.badgeList__76720 *)+.overlayBackground__345c9 .section__62b44:first-child {
    left: calc(var(--spacing) * 6 + 80px + 22px);
    width: calc(100% - (var(--spacing) * 10 + 80px + 22px))
  }
  & div:has(.badgeList__76720 *:nth-child(4)) .section__62b44.container__1c2eb:first-child {
    left: calc(var(--spacing) * 6 + 80px + 44px);
    width: calc(100% - (var(--spacing) * 10 + 80px + 44px))
  }
  & div:has(.badgeList__76720 a:nth-child(7)) .section__62b44:first-child {
    left: calc(var(--spacing) * 6 + 80px + 66px);
    width: calc(100% - (var(--spacing) * 10 + 80px + 66px))
  }
}
.userPanelOverlayBackground_a2b6ae, .overlay_d06e6d {
	padding: 0;
	margin: 0 0;
}
.overlayBackground__345c9 {
	background-color: transparent;
	overflow: visible;
}
.divider_d6f39c {display: none;}
.mutualGuildsList__5e9f3,
.mutualFriendsList__02caf {
	background-color: var(--profile-body-background-color);
	padding: var(--spacing);
	margin: 0 var(--spacing) var(--spacing);
	border-radius: var(--border);
	border: none;
	width: unset;
}
.collapseBtn__49a85 {
	padding: 0;
	height: min-content;
}
.profilePanelConnections__34438 {margin: 0;}
.mainContainer_c5e1e2 {
	margin: 0 var(--spacing);
	padding: 0 var(--spacing);
	background-color: var(--profile-body-background-color);
}
.userPopoutOverlayBackground__3e7e6 .mainContainer_c5e1e2 {	margin:  0 0 0 var(--spacing);}
/* Profile Popout */
.bannerSVGWrapper__8a38c mask {display: none;}
.userPopoutInner_ac0960 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	.section__62b44 {
		background-color: var(--profile-body-background-color);
		border-radius: var(--border);
		padding: var(--spacing);
		margin: 0 var(--spacing) var(--spacing);
		width: 320px;
		&:has(.markup_a7e664) {
			margin-bottom: 0;
			border-radius: var(--border) var(--border) 0 0;
		}
		&:has(.body__323bb) {border-radius: 0 0 var(--border) var(--border);}
	}
	.usernameSection_dd6196 {
		height: 80px !important;
		display: flex;
		flex-direction: row;
		align-items: center;
		position: absolute;
		top: calc((var(--spacing) * 2 + 80px) * -1);
		left: calc(var(--spacing) * 3 + 80px);
		padding: 0 var(--spacing);
		margin: var(--spacing);
		width: calc(100% - (var(--spacing) * 7 + 80px));
	}
	&:has(.profileBadges__1f2ab *) .usernameSection_dd6196 {
		left: calc(var(--spacing) * 6 + 80px + 22px);
		width: calc(100% - (var(--spacing) * 10 + 80px + 22px))
	}
	&:has(.profileBadges__1f2ab *:nth-child(4)) .usernameSection_dd6196 {
		left: calc(var(--spacing) * 6 + 80px + 44px);
		width: calc(100% - (var(--spacing) * 10 + 80px + 44px))
	}
	&:has(.profileBadges__1f2aba :nth-child(7)) .usernameSection_dd6196 {
		left: calc(var(--spacing) * 6 + 80px + 66px);
		width: calc(100% - (var(--spacing) * 10 + 80px + 66px))
	}
}
.avatarWrapper__0cd44 {
	position: relative;
	left: 0;
	top: 0;
	margin: var(--spacing);
	margin-right: calc(var(--spacing)*3);
	width: 80px;
	height: 80px;
}
.profileBadges__1f2ab {
	display: flex;
	flex-direction: column;
	align-self: center;
	align-content: start;
	justify-content: space-evenly;
	flex-wrap: wrap;
	height: 80px;
	top: 0;
	right: 0;
	margin: var(--spacing) 0;
	padding: 0;
	border-radius: var(--border);
	&:has(*) {padding: 0 var(--spacing);}
	&:has(*:nth-child(4)) {width: 44px;}
	&:has(*:nth-child(7)) {width: 66px;}
}
.userPopoutOverlayBackground__3e7e6 {
	margin: 0;
	overflow: visible;
	width: 100%;
	border-radius: var(--border);
	background: transparent;
}
.scroller_f9a667 {padding: 0 !important;}
.nickname_db3773 {font-size: 18px;}

/* Avatars */
.wrapper__3ed10 foreignObject,
.avatarHint__15059 foreignObject,
.avatarDecorationHint__04b99 foreignObject,
.wrapper_e05ed7 foreignObject {
	mask: none;
}
.wrapper__3ed10 img, .avatar__08316, .avatarHint__15059,
.avatarDecorationHint__04b99, .userAvatar_f45224, .border_e782de,
.avatarSpeaking__747a1, .voiceAvatar_d0dbc5 {
	border-radius: var(--border) !important;
	overflow: hidden;
}
/* Profile Modal */
.body_bd4552 ::-webkit-scrollbar-track-piece {
	background: transparent !important;
	border: none !important;
}
.body_bd4552 ::-webkit-scrollbar-thumb {
	background: var(--brand-500) !important;
	border: none !important;
	border-radius: var(--border) !important;
}
.body_bd4552 ::-webkit-scrollbar {width: var(--spacing) !important;}
.scroller-2TZvBN::-webkit-scrollbar,
.scroller_de945b::-webkit-scrollbar {
	width: 0 !important;
}
.userProfileModalOuter__90b4a, .userProfileModalInner__84e47 {
	width: 700px;
	height: 450px;
	border-radius: var(--border);
}
.userProfileModalInner__84e47 {
	display: grid;
	grid-template-columns: 200px auto;
}
/*Avatar Section */
.userProfileModalInner__84e47 .header_dda341 {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	justify-items: center;
	height: 450px;
	width: 200px;
	pointer-events: none;
}
.avatar__445f3 foreignObject {
	mask: none;
}
.avatar__445f3 img {
	border-radius: var(--border);
	overflow: hidden;
}
.userProfileInnerThemedNonPremium_b64fb4 .header_dda341,
.userProfileInnerThemedPremiumWithoutBanner_ee8277 .header_dda341 {
	margin-top: -106px;
}
.avatar__445f3,
.headerTop_e82f16 {
	position: relative;
	left: unset;
	top: unset;
	right: unset;
	align-self: center;
	justify-self: center;
	margin: var(--spacing);
	pointer-events: all;
}
.headerTop_e82f16 {
	margin-top: calc(var(--spacing) * 2);
	box-sizing: border-box;
	width: 150px;
	display: flex;
	align-content: center;
	justify-content: center;
}
.badgeList__126b0 {
	margin: 0;
	padding: var(--spacing);
	border-radius: var(--border);
}
.relationshipButtons_b880ad {
	position: absolute;
	top: -270px;
	left: unset;
	right: -520px;
}
/* Banner (Non themed profile) */
.bannerSVGWrapper__8a38c {
	contain: unset;
	overflow: visible;
}
.pencilContainer_ae6d25 {
	pointer-events: all;
	border-radius: var(--border);
}
.bannerSVGWrapper__8a38c foreignObject {mask: unset;}
.userProfileInnerThemedNonPremium_b64fb4.userProfileModalInner__84e47 .bannerSVGWrapper__8a38c,
.userProfileInnerThemedPremiumWithoutBanner_ee8277.userProfileModalInner__84e47 .bannerSVGWrapper__8a38c {
	pointer-events: none;
}
.userProfileModalInner__84e47 .banner__6d414:not([style*="image"]),
.userProfileInnerThemedNonPremium_b64fb4.userProfileModalInner__84e47 .bannerSVGWrapper__8a38c foreignObject,
.userProfileInnerThemedPremiumWithoutBanner_ee8277.userProfileModalInner__84e47 .bannerSVGWrapper__8a38c foreignObject {
	height: 450px;
	width: 200px;
	border-radius: var(--border);
}
/* Banner (Themed profile) */
.root_ba16f0:has(.userProfileInnerThemedWithBanner_e9e7c5) {
	margin-top: 180px;
	overflow: visible;
}
.root_ba16f0>div {
	overflow: visible;
}
.root_ba16f0 .userProfileInnerThemedWithBanner_e9e7c5 .bannerSVGWrapper__8a38c {
	position: absolute;
	width: 700px;
	top: calc(-250px - var(--spacing)*2);
	border-radius: var(--border);
	padding: var(--spacing);
	margin: calc(var(--spacing) * -1);
	background: linear-gradient(var(--profile-gradient-primary-color), var(--profile-gradient-primary-color) 120px, var(--profile-gradient-secondary-color));
}
/* Modal Contents */
.root_ba16f0 .overlayBackground__345c9,
.body_bd4552,
.userInfoSection_e816c1 {
	background-color: transparent;
	margin: 0;
	padding: 0;
	flex: 1;
}
.container__9f51c, .tabBarContainer_b283be {
	padding: var(--spacing);
	margin: var(--spacing) var(--spacing) 0 var(--spacing);
	border-radius: var(--border);
}
.tabBarContainer_b283be {margin-right: calc(var(--border) + var(--spacing));}
.infoScroller__0920a {
	margin: var(--spacing);
	padding: 0;
}
.container__9f51c, .userInfoSectionHeader_c9f1d3, .userInfoSectionHeader_c9f1d3+div {
	background-color: var(--profile-body-background-color);
	padding: var(--spacing);
}
.body_bd4552:has(.tabBarContainer_b283be) {
	display: grid;
	grid-template-rows: calc(80px + var(--spacing) * 4) calc(30px + var(--spacing)) auto;
}
.userInfoSectionHeader_c9f1d3 {
	border-radius: var(--border) var(--border) 0 0;
	margin: 0;
}
.userInfoSectionHeader_c9f1d3+div {
	border-radius: 0 0 var(--border) var(--border);
	overflow: hidden;
	margin-bottom: var(--spacing);
}
.note__7a4f4 {margin: unset;}

/* Username Section */
.container__9f51c, .container__9f51c>div:has(.text-lg-semibold__84aef, .pronouns__3d468) {
	max-width: 275px;
	width: fit-content;
	min-width: 150px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.header_dda341:has(.relationshipButtons_b880ad button+button) {max-width: 200px;}
.text-lg-semibold__84aef {margin: 0 !important;}
.body_bd4552:has(.tabBarContainer_b283be .selected_a523ff:not([aria-controls="user_info-tab"])) .container__9f51c>div~div:has(.customStatus_fe94ef) {
	display: none;
}
.container__9f51c {height: 90px;}
.container__9f51c>div~div:has(.customStatus_fe94ef) {
	position: absolute;
	top: calc(80px + var(--spacing) * 2);
	left: 5px;
	background-color: var(--profile-body-background-color);
	z-index: 2000;
	padding: var(--spacing);
	border-radius: var(--border);
	min-width: calc(500px - var(--spacing) * 5);
	max-width: calc(500px - var(--spacing) * 4);
	height: 48px;
	overflow: scroll;
	overflow-x: hidden;
}
.body_bd4552:has(.tabBarContainer_b283be) .container__9f51c>div~div:has(.customStatus_fe94ef) {
	top: calc(80px + 30px + var(--spacing) * 6);
}
.container__9f51c>div~div:has(.customStatus_fe94ef img ~ span, .customStatus_fe94ef span) {
	height: 20px;
}
.customStatus_fe94ef {margin: 0;}
.body_bd4552:has(.customStatus_fe94ef img) .infoScroller__0920a {padding-top: calc(48px + var(--spacing) * 4);}
.body_bd4552:has(.customStatus_fe94ef span) .infoScroller__0920a {
	padding-top: calc(20px + var(--spacing) * 4);
	max-height: 300px;
}

/* Tab Bars (user info/activities/mutual servers stuff*/
.tabBarContainer_b283be {
	padding: var(--spacing) var(--spacing) 0;
	border: none;
	margin-bottom: calc(-1 * var(--spacing));
	height: 30px;
}
.tabBarContainer_b283be, .tabBar__35f81 {
	display: flex;
	align-items: end;
	justify-content: end;
	gap: var(--spacing);
	min-width: 250px
}
.tabBarItem_ce14f3 {
	height: 25px;
	padding: 0 var(--spacing);

}
.top_fae1fa .selected_a523ff.themed_b957e8.item__48dda {
	background-color: var(--brand-500);
	border-radius: var(--border) var(--border) 0 0;
}

/* Connected Accounts */
.connectedAccounts__7a8e6 {
	border: none !important;
	align-content: center;
	justify-content: center;
}
.connectedAccountsColumn__57331 {
	flex-direction: row;
	margin: 0 !important;
	width: unset;
}
.connectedAccountContainer__5972d {
	width: 24px;
	height: 24px;
	margin: var(--spacing);
	padding: var(--spacing);
	background-color: var(--profile-body-background-color);
	border-radius: var(--border);
	.text-md-semibold__8664f {
		opacity: 0;
		position: absolute;
		margin-left: calc(24px + var(--spacing) * 2);
		background-color: var(--profile-body-background-color);
		padding: var(--spacing);
		border-radius: var(--border);
		z-index: 2000;
		pointer-events: none;
	}
	&:hover .text-md-semibold__8664f {opacity: 1;}
}
.connectedAccount__75282 {
	width: 24px;
	height: 24px;
	& img {	position: absolute;}
	.text-xs-normal__46d75 {display: none;}
}
.connectedAccountVerifiedIcon__103a6 {left: 24px;}
.connectedAccountName__0a3ec a {
	opacity: 0;
	margin-left: -6px;
}

/* Activity */
.userProfileActivity__0988f {
	margin: var(--spacing);
	padding: var(--spacing);
	background-color: var(--brand-500);
	border-radius: var(--border);
	&:has(.platformIcon_a2d873) {background-color: #1DB954;}
}
/* Mutual Servers/Friends */
.listScroller__18a19 {
	padding: 0;
}
.listRow__50619 {
	background-color: var(--profile-body-background-color);
	border-radius: var(--border);
	margin: var(--spacing);
	padding: var(--spacing);
}

/* Data Access (Bots) */
.listScroller__18a19 .row_eee66a {
	background-color: var(--profile-body-background-color);
	border-radius: var(--border);
	margin: var(--spacing);
	padding: var(--spacing);
}
.listScroller__18a19 .divider__4078a {padding: 0 var(--spacing);}

/* Text box and user area */
.panels__58331>div:not(.wrapper_e832ee) {
	margin: 0 var(--spacing) var(--spacing);
	border-radius: var(--border);
	overflow: hidden;
	max-height: 44px;
}
.withTagAsButton_e22174 .nameTag__77ab2, .withTagless__058f8 .nameTag__77ab2 {
	padding: var(--spacing) 0;
	margin: 0;
}
.container_e1958d {
	display: flex;
	flex-direction: column-reverse;
	padding: 0 var(--spacing) var(--spacing);
	box-sizing: border-box;
	border: none;
}
.connection__38593, .voiceUsers__665a5 {
	background-color: var(--background-secondary-alt);
	margin: var(--spacing) 0 0;
	border-radius: var(--border);
	overflow: hidden;
	height: 44px;
}
.actionButtons__85e3c {padding: 0;}
.panels__58331, .container_e1958d {background: transparent;}
.form_d8a4a1 {
	display: flex;
	flex-direction: column-reverse;
	padding: 0 var(--spacing);
	&::before {display: none;}
}
.base__06abc {	
	position: absolute;
	top: -22px;
	bottom: 0;
}
.channelTextArea_c2094b {margin-bottom: var(--spacing);}
.channelTextArea_c2094b, .scrollableContainer_ff917f {border-radius: var(--border);}
.avatarWrapper__500a6 {margin: 0;}
.container_debb33, .connection__38593, .voiceUsers__665a5, .panel_bd8c76 {
	padding: var(--spacing);
	box-sizing: border-box;
	border: none;
}
.button_b82d53 .buttonColor__7bad9:hover, .button_b82d53.buttonColor__7bad9:hover, .lookFilled__950dd.colorBrand__27d57:active {
	background-color: var(--brand-500);
}
.button_b82d53 .buttonColor__7bad9, .button_b82d53.buttonColor__7bad9 {
	border-radius: var(--border);
}

/* Server List */
.wrapper__9916c foreignObject {mask: none;}
.iconInactive__8c603 {border-radius: var(--border);}
.wrapper__9916c, .folderIconWrapper__11165 {
	border-radius: var(--border);
	overflow: hidden;
}

/* Settings */
/* Try nesting this when possible*/
.side_b4b3f6 .header__71a82, .side_b4b3f6 .item__48dda, .bd-sidebar-header {
	background-color: var(--background-secondary-alt);
	margin: 0;
	padding: var(--spacing);
	border-radius: 0;
}
.side_b4b3f6 .header__71a82, .bd-sidebar-header {border-radius: var(--border) var(--border) 0 0;}
.side_b4b3f6 .item__48dda:has(+.separator_d14fb1) {	border-radius: 0 0 var(--border) var(--border);}
.separator_d14fb1+.item__48dda {border-radius: var(--border) var(--border) 0 0;}
.separator_d14fb1+.item__48dda:has(+.separator_d14fb1) {border-radius: var(--border);}
.side_b4b3f6 .separator_d14fb1 {
	background-color: transparent;
	margin: var(--spacing) 0 0;
}
.contentColumnDefault__78de3 {max-width: 100%;}
.sidebarRegion__36437, .sidebarRegionScroller__8113e {
	max-width: fit-content;
}

/* My account settings */
.userInfo_fb7651 {
	padding: var(--spacing);
	height: calc(80px + var(--spacing));
	justify-content: flex-start;
	margin: var(--spacing);
}
.avatar__6c108 {position: static;}
.avatar__6c108+div {
	display: flex;
	flex-direction: row-reverse;
}
.userTag__28f9c, .badgeList__6b2c7 {
	height: 80px;
	background-color: var(--background-secondary);
	padding: var(--spacing);
	margin: 0 0 0 var(--spacing);
	border-radius: var(--border);
}
.badgeList__6b2c7 {flex-direction: column;}
.background__4e802 {
	padding: var(--spacing);
	margin: var(--spacing);
	border-radius: var(--border);
}
.userInfo_fb7651 .button__581d0 {
	position: absolute;
	right: var(--spacing);
}
.overflowMenuButton__38716 {
	display: flex;
	align-items: center;
}
.overflowMenuIcon_a3868f {transform: rotate(90deg);}

/* Statuses */
.wrapper__3ed10 {
	&:has([mask*="online"], [fill="#23a55a"])::after {--status: #23a55a;}
	&:has([mask*="idle"], [fill="#f0b232"])::after {--status: #f0b232;}
	&:has([mask*="dnd"], [fill="#f23f43"])::after {--status: #f23f43;}
	&:has([mask*="offline"], [fill="#80848e"])::after {--status: #80848e;}
	&:has([fill="#593695"])::after {--status: #593695;}
	&::after {
	content: "";
	width: var(--spacing);
	height: 100%;
	border-radius: var(--border);
	position: absolute;
	left: calc(var(--spacing) + 100%);
	top: 0;
	background-color: var(--status);
	pointer-events: none;
	}
}
.wrapper__3ed10.avatar__445f3:after {
	content: "";
	width: 100%;
	height: var(--spacing);
	left: 0;
	top: calc(var(--spacing) + 100%);
}

svg.mask_d5067d.svg_a6bf1c, .avatar__6337f, .wrapper__3ed10 {overflow: visible !important;}
.wrapper__3ed10 rect {
	z-index: 3;
	mask: none !important;
	fill: transparent;
	width: var(--spacing);
	height: 100%;
	x: calc(100% - var(--spacing));
	y: 0;
}
.avatar__445f3 rect {
	width: 100%;
	height: var(--spacing);
	x: 0;
	y: calc(100% - var(--spacing) * 3);
}
.wrapper__3ed10 circle {
	r: 40;
	cx: 40;
	cy: 40;
	fill: transparent;
}
.avatar_f8541f /* User Area*/, .avatar__6337f,
.avatar__7bd22, .avatar_f8541f, .avatar__7c789,
.avatar__8986c, .autocompleteRowIcon__8d986, .listAvatar__67297 {
	margin-right: calc(3 * var(--spacing));
}
/* Call */
.controlButton__863c7 foreignObject {mask: none;}
.callContainer__1477d, .wrapper__6bf2d.minimum__7f356 .callContainer__1477d {background: var(--background-tertiary);}
.wrapper__6bf2d.normal_f121db, .wrapper__6bf2d.minimum__7f356 {
	border-radius: var(--border);
	overflow: hidden;
}
.avatarSpeaking__747a1, .border_e782de.speaking_b20122 {
	box-shadow: inset 0 0 0 3px var(--brand-500);
}
/* Chat */
.avatar__08316 {left: var(--spacing);}
.avatarDecoration__8a0c2 {
	left: calc(var(--spacing) - var(--custom-message-avatar-decoration-size)/2 + var(--custom-message-avatar-size)/2)
}
.cozy_f5c119.wrapper_a62503 {padding-left: calc(40px + var(--spacing) * 2);}
.cozy_f5c119 .timestamp_c79dd2.alt__6c563 {
	text-align: center;
	padding: 0 var(--spacing);
	max-width: calc(40px + var(--spacing) * 2);
	box-sizing: border-box;
}
.cozy_f5c119 .messageContent_abea64 {
	padding: 0;
	margin: 0;
}
.message_ccca67.mentioned_fa6fd2.selected_e3bc5d, .mouse-mode.full-motion .mentioned_fa6fd2:hover, .mentioned_fa6fd2 {
	background: transparent!important;
	&::before {display: none}
	.contents_d3ae0d>.messageContent_abea64 {
		background-color: var(--background-mentioned);
		border-radius: var(--border);
	}
}