//META{"name":"Bebop","description":"Quick test theme","author":"Notiphiliac","version":"1.0"}*//

/*----variables----*/
:root {
    /*-Background-*/
    --image-background: url(https://cdn.discordapp.com/attachments/638627857324834826/665030025443278850/spikeheader_0.png);
    --colour-background: charcoal;
    /*-Colours-*/
    --servers: rgba(0,0,0,0.5);
    --sidebar: rgba(0,0,0,0.5);
    --chat: rgba(0,0,0,0.5);
    --text: red;
    --scrollers: red;
    --accent: gold;
    --semi-transparent: rgba(0,0,0,0.3);
}

/*--transparency--*/
.theme-dark, .theme-light {
    --background-primary: none;
    --background-secondary: none;
    --background-tertiary: none;
    --background-accent: none;
    --deprecated-panel-background: none;
    --elevation-low: none;
    --channeltextarea-background: none;
    --activity-card-background: none;
    --background-floating: rgba(0,0,0,0.9);
}

/*--text--*/
.theme-dark, .theme-light {
    --header-primary: white;
    --header-secondary: lightgrey;
    --text-normal: white;
    --text-muted: lightgrey;
    --text-link: var(--accent);
    --channels-default: lightgray;
    --interactive-normal: lightgray;
    --interactive-hover: white;
    --interactive-active: white;
    --interactive-muted: lightgray;
    --textbox-markdown-syntax: gray;
}
/*--margins--*/
.da-app {
    bottom: 15px !important;
    left: 5px !important;
    right: 15px !important;
    top: 5px !important;
}
.sidebar-2K8pFh {
    margin-left: 4px;
    margin-right: 4px
}
/*--background--*/
#app-mount {
    background-image: var(--image-background)!important; 
    background-position: center!important; 
    background-size: cover!important; 
    background-color: var(--colour-background)!important;
}

/*--servers--*/
.wrapper-1Rf91z {
    background-color: var(--servers);
    border-radius: 13px;
}
.numberBadge-2s8kKX, .pill-31IEus .item-2hkk8m, .circleIconButton-jET_ig:hover {
    background-color: var(--accent)!important
}
#bd-pub-li .wrapper-25eVIn {
    background-color: var(--semi-transparent)
}
.circleIconButton-jET_ig {
    background-color: var(--semi-transparent)!important; 
    color: var(--accent); 
    border: 1px solid var(--accent); 
    border-radius: 45px;
}
.circleIconButton-jET_ig:hover {
    background-color: var(--accent)!important;
}
/*--sidepannel--*/
.sidebar-2K8pFh {
    background: var(--sidebar);
    border-radius: 13px 13px 13px 13px!important;
}
.containerDefault-3GGEv_ {
    background-color: var(--semi-transparent); 
    height: 25px; 
    text-align: center; 
    border-radius: 10px; 
    padding: 0px 5px 0 0px; 
    border: 1px solid var(--accent);
}
.container-2Pjhx- {
    padding: 0.2px 0;
    border-radius: 13px;
    margin: 1px;
}
.header-zu8eWb {
    padding: 1px 1px 1px 1px;
    height: 20px;
}
.channel-2QD9_O {
    max-width: 100%;
}
.layout-2DM8Md {
    padding: 0 1px;
}
.container-3baos1 , .container-1giJp5 {
    background-color: var(--semi-transparent)!important;
    margin-bottom: 1px; 
    border-radius: 13px;}
.container-2ax-kl {
    background: transparent!important; 
}
.content-3at_AU {
    margin: 0; 
    width: 200px; 
    transition: width 0.2s; 
    transition-timing-function: ease-in-out; 
    background-color: var(--semi-transparent);
    opacity: 0.7; 
}
.content-3at_AU:hover {
    width: 100%; 
    background-color: var(--semi-transparent)!important; 
    border: 1px solid var(--accent);
    opacity: 1!important;
}
.searchBar-6Kv8R2 .searchBarComponent-32dTOx {
    border-radius: 13px;
    border: 1px solid var(--accent)
}
/*--activity feed--*/
.theme-dark .da-activityFeed, .theme-light .da-activityFeed {
    border-radius: 13px;
    background-color: var(--chat);
}
 .theme-dark .wrapper-3UweLa, .theme-dark .multipleIconWrapper-1PjkRO, .theme-dark .section-2VKIPC, .theme-light .da-activityFeed, .theme-light .wrapper-3UweLa, .theme-light .multipleIconWrapper-1PjkRO, .theme-light .section-2VKIPC, .theme-dark .inset-GQDQYw, .theme-light .inset-GQDQYw, .theme-dark .recentlyPlayedContainer-2F3MqS, .theme-light .recentlyPlayedContainer-2F3MqS, .theme-dark .section-2VKIPC, .theme-dark .outer-2IVh5n, .theme-light .section-2VKIPC, .theme-light .outer-2IVh5n {
    background-color: var(--semi-transparent)!important;
}
.theme-dark .popout-3G62UL, .theme-dark .popoutContainer-3WC9HR:hover, .theme-dark .outer-2IVh5n.interactive-1BeKSi:hover, .theme-dark .enabled-5QKLzu:hover, .theme-dark .memberListItem-2ZX2pl:not(.popoutDisabled-xucru2):hover, .theme-light .popout-3G62UL, .theme-light .popoutContainer-3WC9HR:hover, .theme-light .outer-2IVh5n.interactive-1BeKSi:hover, .theme-light .enabled-5QKLzu:hover, .theme-light .memberListItem-2ZX2pl:not(.popoutDisabled-xucru2):hover {
    background-color: var(--semi-transparent);
}
.theme-dark .separator-2c4hi3, .theme-light .separator-2c4hi3 {
    background-color: transparent!important;
}
.theme-light .wrapper-Lii66c, .theme-light .wrapper-3UweLa, .theme-light .recentlyPlayedContainer-2F3MqS, .theme-light .card-3EIh8J, .theme-light .wrapper-9ppXpy, .theme-light .popout-3G62UL {
    border: 0;
    box-shadow: none!important;
}
.buttonColor-1agP3J, .interactive-1FxC7B:hover, .theme-dark .interactive-1FxC7B:hover, theme-light .interactive-1FxC7B:hover{
    background-color: var(--accent);
}
/*--library/inventory--*/
.theme-dark .da-root, .theme-light .da-root, .theme-dark .gameLibrary-TTDw4Y, .theme-light .gameLibrary-TTDw4Y {
    background-color:  var(--chat)!important;
    border-radius: 13px 0 0 13px
}
.da-scrollerStore .da-body .da-root {
    background-color: transparent!important;
}

/*--nitro tab--*/
.theme-dark .applicationStore-1pNvnv, .theme-dark .itemBackground-1jfD8p, .theme-light .applicationStore-1pNvnv, .theme-light .itemBackground-1jfD8p {
    background-color: var(--chat);
    border-radius: 13px 0 0 13px
}
.feature-1Q4U_R, .theme-dark .tile-QA_yMc, .theme-light .tile-QA_yMc {
    background: var(--semi-transparent);
    border-radius: 10px;
}
.theme-dark .tile-QA_yMc:hover, .theme-light .tile-QA_yMc:hover, .theme-dark .tier1Banner-1BTgv0, .theme-light .tier1Banner-1BTgv0 {
    background-color: var(--semi-transparent);
}

/*--friends--*/
.theme-dark .container-1D34oG, .theme-light .container-1D34oG {
 background: var(--chat);
 border-radius: 13px 0 0 13px!important
} 
.theme-dark .popout-13LQ_3, .theme-light .popout-13LQ_3, .theme-dark .enabled-1t_Gxm:hover, .theme-light .enabled-1t_Gxm:hover, .theme-dark .memberListItem-2ZX2pl:not(.popoutDisabled-xucru2):hover, .theme-light .memberListItem-2ZX2pl:not(.popoutDisabled-xucru2):hover {
    background: var(--chat);
}
.theme-dark .separator-XqIyoz { 
    background: none;
}

/*--status--*/
.menu-Sp6bN1, .theme-dark .root-1gCeng, .theme-light .root-1gCeng {
    border-radius: 13px;
    background: rgba(0,0,0,0.9);
    padding: 0;
    margin: 0px;
    box-shadow: none;
}
/*--chat--*/
.themeDark-3Ap_7i, .da-app .chat-3bRxxu {
    background: var(--chat);
    border-radius: 13px;
}
.privateChannelMessages-3f72E- {
    border-radius: 13px;
}
.scrollableContainer-2NUZem {
    background-color: var(--semi-transparent);
    max-height: 144px;
    border-radius: 13px;
    position: relative;
    bottom: 5px;
}
.children-19S4PO {
    background-color: var(--semi-transparent);
    border-radius: 13px;
    border: 1px solid var(--accent);
}
.form-2fGMdU {
    border-top: none;
    margin-left: 10px;
    margin-right: 10px;
}
.chat-3bRxxu form {
	margin: -2px 10px -24px 0px;
}
.base-gE7OpD {
    position: absolute;
    bottom: 20px;
    scale: (0.1);
}
.messageGroupBlocked-3wrQQX {
    background-color: var(--semi-transparent)!important;
}
.messageGroupBlockedBtn-1PBBh- {
    background-color: transparent!important; 
    color: var(--accent)!important;
}
.containerCozy-jafyvG {
    margin: 10px 0 0 0;
    border-radius: 7px; 
    background-color: var(--semi-transparent);
}
.clickable-3rdHwn .icon-22AiRD {
    border: 1px solid var(--accent);
    border-radius: 10px;
}
.embedFull-2tM8-- {
    border-left: 2px solid var(--accent)!important;
    background: var(--semi-transparent);
}

/*--new/old/load messages--*/
.newMessagesBar-mujexs {
    background-color: var(--accent);
}
.newMessagesBar-mujexs:hover {
    background-color: var(--accent);
    filter: saturate(0.7)
}
.hasMore-3e72_v {
    background: var(--semi-transparent);
    box-shadow: none;
    color: var(--accent);
}
.jumpToPresentBar-9P20AM {
    background-color: var(--accent);
    opacity: .8;
}
.isMentionedCozy-3isp7y {
    background-color: var(--accent)!important;
}
.isMentionedCozy-3isp7y:after {
    background: var(--accent);
}
/*--calls--*/
.containerDefault-1ZnADq .modeConnected-2IEL4z div.content-3at_AU {
    width: 100%; 
    background-color: var(--semi-transparent)!important;
    opacity: 1.1
}
.list-2bwCXU { 
    padding-left: 10px; 
}
.container-1UB9sr {
    background-color: blue!important; 
    border: 0;
}
.buttonDisconnect-3W_SJc {
    background-color: var(--accent)!important;
}
.avatarSpeaking-3MqCHLt {
box-shadow:0 0 0 2px var(--accent);
}
.voiceUser-14U_Ns {
    transition: margin 0.2s; 
    transition-timing-function: ease-in-out; 
    margin-left: 0; 
    padding-right: 5px}
.voiceUser-14U_Ns:hover {
    background-color: var(--semi-transparent)!important; 
    border-radius: 2px; 
    margin-left: 20px;
}
.voiceUser-14U_Ns .content-3xS9Lh:hover {
    background-color: transparent!important;
}
.theme-dark .wrapper-29NfPK, .theme-light .wrapper-29NfPK {
    background-color: transparent;
    border-radius: 0 0 13px 13px;
    border-bottom: 1px solid var(--accent);
}
.video-1FfuMD {
	background: var(--semi-transparent) !important;
	box-shadow: none !important;
}
.lookFilled-1Gx00P.colorRed-1TFJan {
    background-color: var(--accent);
}
.lookFilled-1Gx00P.colorRed-1TFJan:hover {
    background-color: var(--accent);
    filter: hue-rotate(340deg);
}
.incomingCallInner-2VmFiR {
    border-radius: 13px;
    border: none;
    background: var(--accent);
    filter: opacity(0.7);
    box-shadow: none;
}
/*--pins--*/
.messagesPopoutWrap-1MQ1bW, .messagesPopout-24nkyi, .header-ykumBX {
    background: var(--transparent-1)!important;
    max-height: calc(100vw - 10px);
}

.messageGroupWrapper-o-Zw7G {
    background: transparent!important;
    border: transparent
}
.theme-dark .messageGroupWrapper-o-Zw7G:hover .actionButtons-1sUUug, .theme-light .messageGroupWrapper-o-Zw7G:hover .actionButtons-1sUUug {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
}
.theme-dark .jumpButton-3DTcS_, .theme-light .jumpButton-3DTcS_ {
    background-color: var(--accent);
    color: white;
}

/*--add friends--*/
.theme-dark .modal-yWgWj-, .theme-light .modal-yWgWj- {
    background-color: var(--semi-transparent);
    box-shadow: none;
}
.theme-dark .friendSelected-1sa4bG, .theme-light .friendSelected-1sa4bG {
    background-color: var(--semi-transparent);
    color: #fff;
}
/*--search--*/
.search-2oPWTC .searchBar-3dMhjb {
    width:30px;
    transition-duration:300ms;
    border: 1px solid var(--accent);
    border-radius: 10px;
    width: 25px;
    height: 25px;

}
.search-2oPWTC .searchBar-3dMhjb:hover {width:200px;}
.search-2oPWTC.focused-31_ccS .searchBar-3dMhjb {width: 244px;}
.da-searchResultsWrap .da-searchResult.da-expanded .da-searchResultMessage.da-hit, .da-searchHeader, .da-searchFilter, .da-option.da-selected, .theme-light .da-searchFilter, .da-option.da-selected, .da-popout .da-queryContainer, .theme-dark .da-searchResultsWrap, .theme-light .da-searchResultsWrap, .theme-dark .searchResult-3pzFAB .searchResultMessage-2VxO12.hit-NLlWXA, .theme-light .searchResult-3pzFAB .searchResultMessage-2VxO12.hit-NLlWXA {
    background-color: var(--semi-transparent)!important;
}
.da-option::after, .da-option.da-selected::after, .da-searchResultsWrap .da-searchResult::before, .da-searchResultsWrap .da-searchResult::after {
    background: none !important;
    background-image: none !important;
}
.theme-dark .da-popout .da-container, .theme-light .da-popout .da-container, .theme-dark .searchAnswer-3Dz2-q, .theme-dark .searchFilter-2ESiM3, .theme-light .searchAnswer-3Dz2-q, .theme-light .searchFilter-2ESiM3 {
    background-color: var(--accent); 
    border: none 
}
.theme-dark .searchResult-3pzFAB .searchResultMessage-2VxO12.after-2g0jjc, .theme-dark .searchResult-3pzFAB .searchResultMessage-2VxO12.before-1x1q5S, .theme-light .searchResult-3pzFAB .searchResultMessage-2VxO12.after-2g0jjc, .theme-light .searchResult-3pzFAB .searchResultMessage-2VxO12.before-1x1q5S {
    opacity: .3;
    filter: blur(0.5px);
}
.theme-dark .searchResult-3pzFAB.expanded-v2Szsz .searchResultMessage-2VxO12, .theme-light .searchResult-3pzFAB.expanded-v2Szsz .searchResultMessage-2VxO12 {
    filter: blur(0px);
    opacity: 1;
}
.da-searchResultsWrap {
    border-radius: 13px 0 0px 13px !important;
    margin-left: 4px
}
.da-searchResultsWrap .da-channelSeparator .da-channelName {
    background-color: transparent!important;
    border: none;
}
.theme-dark .searchResult-3pzFAB.expanded-v2Szsz .searchResultMessage-2VxO12.hit-NLlWXA, .theme-light .searchResult-3pzFAB.expanded-v2Szsz .searchResultMessage-2VxO12.hit-NLlWXA {
    border-top: none;
    border-bottom: none;
}
.theme-dark .searchResult-3pzFAB.expanded-v2Szsz .searchResultMessage-2VxO12.hit-NLlWXA:last-of-type, .theme-light .searchResult-3pzFAB.expanded-v2Szsz .searchResultMessage-2VxO12.hit-NLlWXA:last-of-type {
    border-top: none;
    border-bottom: none;
}
.theme-dark .searchResult-3pzFAB .searchResultMessage-2VxO12.hit-NLlWXA, .theme-light .searchResult-3pzFAB .searchResultMessage-2VxO12.hit-NLlWXA {
    border: none;
}
.da-searchResultsWrap .da-searchResult.da-expanded {
    border: 2px solid var(--semi-transparent);
    border-radius: 13px !important;

}
.theme-dark .jumpButton-Ia2hRJ, .theme-light .jumpButton-Ia2hRJ {
    background-color: var(--accent);
    color: white;
}
.da-elevationBorderHigh {
	box-shadow: none !important;
}
.da-searchResultMessage .da-container:last-of-type .da-divider {
	margin: 0 0 -5px 0 !important;
}
.theme-dark .searchResult-3pzFAB .hit-NLlWXA, .theme-light .searchResult-3pzFAB .hit-NLlWXA {
    background-color: #36393f;
    box-shadow: none;
}
.da-calendarPicker .react-datepicker, .da-calendarPicker .react-datepicker .react-datepicker__header, .theme-dark .da-calendarPicker .react-datepicker__day--outside-month, .theme-dark .da-calendarPicker .react-datepicker__day--outside-month:hover, .theme-dark .da-calendarPicker .react-datepicker__day.react-datepicker__day--disabled, .theme-dark .da-calendarPicker .react-datepicker__day.react-datepicker__day--disabled:hover,  .theme-light .da-calendarPicker .react-datepicker__day--outside-month, .theme-light .da-calendarPicker .react-datepicker__day--outside-month:hover, .theme-light .da-calendarPicker .react-datepicker__day.react-datepicker__day--disabled, .theme-light .da-calendarPicker .react-datepicker__day.react-datepicker__day--disabled:hover {
	background-color: transparent !important;
}
.theme-dark .da-calendarPicker .react-datepicker__day.react-datepicker__day--selected:hover, .theme-dark .da-calendarPicker .react-datepicker__day:hover, .theme-light .da-calendarPicker .react-datepicker__day.react-datepicker__day--selected:hover, .theme-light .da-calendarPicker .react-datepicker__day:hover {
	background-color: var(--accent) !important;
}
/*--upload--*/
.theme-dark .uploadModal-2ifh8j, .theme-light .uploadModal-2ifh8j, .theme-dark .footer-3mqk7D, .theme-light .footer-3mqk7D {
    background-color: var(--semi-transparent);
    box-shadow: none;
}
.attachPopout-36hjtN {
    border-radius: 13px;
    background-color: var(--accent);
    box-shadow: none;
}
/*--emotes--*/
.infoBar-U6oBFk {
    background-color: var(--accent);
}
.theme-light .selectorSelected-1_M1WV, .theme-dark .selectorSelected-1_M1WV {
	background-color: rgba(250,250,250,0.2);
	transition: background-color .3s;
	border-radius: 7px;
}
.theme-dark .autocomplete-1vrmpx {
    background-color: rgba(0,0,0,0.7);
}
.emojiPicker-3m1S-j , #bda-qem , #bda-qem-twitch-container , #bda-qem-favourite-container {
    background-color: rgba(0,0,0,0.5)!important; 
    border: 0;}
.header-1nkwgG {background-color: rgba(0,0,0,0.5)!important;}
.searchBarInner-1_Tg2R {background-color: rgba(50,50,50,0.5)!important}
.header-1nkwgG .searchBar-2_Yu-C {background-color: transparent!important;}
.header-1nkwgG .searchBarInner-1_Tg2R input {color: white!important;}
::-webkit-input-placeholder {color: rgba(255,255,255,0.5)!important;}
.stickyHeader-1SS0JU {background-color: rgba(0,0,0,0.5)!important; border-radius: 0 0 10px 10px}
.categories-1feg4n .selected-39BZ4S {border-color: var(--accent)!important}
.emojiPicker-3m1S-j ::-webkit-scrollbar-track {background-color: transparent!important;}
#bda-qem button {color: white; box-shadow: 0 0 0 0!important; border: 0!important;}
#bda-qem button:hover {background-color: rgba(100,100,100,0.5)!important;}
#bda-qem button.active {background-color: rgba(150,150,150,0.5)!important;}

/*--members--*/
.membersGroup-v9BXpm {
background-color: var(--semi-transparent)!important; 
margin: 20px 8px 0 16px; 
padding: 0; 
height: 20px; 
border-radius: 10px; 
color: var(--accent)!important;
}

/*--scrollbar--*/
.da-scrollerWrap .da-scroller::-webkit-scrollbar { 
    width: 11px;
}
.da-scrollerWrap .da-scroller::-webkit-scrollbar-thumb {
    border: none !important;
    background-color: var(--accent) !important;
}
.da-scrollerWrap .da-scroller::-webkit-scrollbar-track-piece { 
    border: none !important;
}
.theme-dark .da-scrollerWrap .da-scroller::-webkit-scrollbar-track-piece, .theme-light .da-scrollerWrap .da-scroller::-webkit-scrollbar-track-piece {
    background-color: var(--semi-transparent)!important;
}
/*unsorted*/






/*ChangeLog And Other Popups*/
.modal-yWgWj- , .bd-modal-inner , .messagesPopoutWrap-1MQ1bW , .messageGroupWrapper-o-Zw7G , .container-3ayLPN , .searchResultsWrap-2DKFzt , .quickswitcher-3JagVE , 
.react-datepicker , .popoutList-T9CKZQ , .bd-modal-body , .root-1gCeng {background-color: rgba(25,25,25,0.5)!important; border-radius: 10px!important;}
.footer-3rDWdC , .footer-3mqk7D  {background-color: rgba(0,0,0,0.5)!important; border-radius: 0 0 10px 10px;}
.header-1R_AjF , .react-datepicker__header {background-color: transparent!important;}

.input-2VB9rf {background-color: rgba(50,50,50,0.5)!important}

.bodyTitle-Y0qMQz {background-color: rgba(0,0,0,0.5); padding: 3px; text-align: center; border-radius: 10px; color: white;}

.body-3iLsc4 , .footer-1fjuF6 {background-color: rgba(30,30,30,0.5)!important}
.userPopout-3XzG_A {border-radius: 10px}

/*User Popup*/
.headerNormal-T_seeN , .topSectionNormal-2-vo2m , .body-3ND3kc , .quickMessage-2XpSaN {background-color: rgba(30,30,30,0.5)!important}
.headerPlaying-j0WQBV , .topSectionPlaying-1J5E4n {background-color: rgba(114,137,218,0.5);}
.headerSpotify-zpWxgT , .topSectionSpotify-1lI0-P {background-color: rgba(29,185,84,0.5)}
.headerStreaming-2FjmGz , .topSectionStreaming-1Tpf5X {background-color: rgba(89,54,149,0.5)}
.theme-dark .headerNormal-T_seeN, .theme-light .headerNormal-T_seeN, .userPopout-3XzG_A .role-2irmRk, .theme-dark .bodyInner-245q0L, .theme-dark .footer-1fjuF6, .theme-light .bodyInner-245q0L, .theme-light .footer-1fjuF6 {
    background-color:  rgba(10,10,10,0.7);
    color: white;
}
	.activityName-1IaRLn {color: white!important;}
	

	/*Join & Create Server Popup*/
	.animator-US5i9g .modal-3HD5ck {background-color: transparent!important}
	.animator-US5i9g {border-radius: 10px; background-color: rgba(25,25,25,0.5)!important}
	.action-1lSjCi {background-color: white!important;}

	.animator-US5i9g input:focus {border-color: #43b581!important;}
	.sampleLink-KPFu3I {color: #43b581!important;}

	input[placeholder="Enter a server name"]:focus {border-color: rgb(114, 137, 218)!important;}
	a[href="//discordapp.com/guidelines"] {color: rgb(114, 137, 218)!important;}

	/*BBD ContentErrors and Other BBD Modals*/
	.error-link {color: var(--accent);}
	.bd-modal-inner button {background-color: var(--accent)!important}

/*Main Login*/
.splashBackground-1FRCko .image-2jyRAK , .splashBackground-1FRCko canvas {display: none;}
.splashBackground-1FRCko {background-image: none;}

.authBox-hW6HRx {background-color: rgba(25,25,25,0.7)!important; border-radius: 10px!important;}
.leftSplit-1qOwnR {width: 80%;}

.container-16j22k {
	padding-top: 30px!important; 
	top: -30px!important;
    background-image: var(--image-background); 
    background-position: center; 
    background-size: cover; 
    background-color: var(--colour-background)!important;
}

/*Other*/
.selected-1HYmZZ a {background-color: rgba(150,150,150,0.4)!important; margin-left: 15px}
/*-----settings-----*/
.da-sidebarRegion {
    max-width: 218px;
}
#bd-settings-sidebar .ui-tab-bar-item.selected {
    background-color: var(--background-modifier-selected)!important;
}
.contentColumn-2hrIYH, .customColumn-Rb6toI {
   max-width: 100%;
}
.theme-dark .standardSidebarView-3F1I7i .sidebarRegion-VFTUkN, .theme-light .standardSidebarView-3F1I7i .sidebarRegion-VFTUkN {
    background-color: var(--sidebar);
    border-radius: 16px;
    margin-right: 4px;
}
.theme-dark .standardSidebarView-3F1I7i .contentRegion-3nDuYy, .theme-light .standardSidebarView-3F1I7i .contentRegion-3nDuYy {
    background-color: var(--chat);
    border-radius: 16px;
}
.cardPrimary-1Hv-to {
    background: rgba(50, 103, 182, 0.6);
}
.cardPrimary-1Hv-to, .cardPrimaryEditable-3KtE4g, .cardPrimaryOutline-29Ujqw {
    background: var(--semi-transparent);
    border: 1px solid black;
}
.themeDefault-24hCdX.valueChecked-m-4IJZ {
    background-color: var(--accent);
}
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch.checked,
.bd-pfbtn {
	background: var(--accent) !important;
}
.standardSidebarView-3F1I7i .contentRegion-3nDuYy .bda-slist li { 
    border: 1px solid var(--accent); 
    background: var(--semi-transparent); 
    color: white; 
}
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ, .ui-tab-bar-item {
    line-height:15px!important; 
    background-color: rgba(150,150,150,0.07); 
    width: 100%; transition: width 0.25s; 
    transition-timing-function: ease-in-out;
}
.sidebar-CFHs9e .side-8zPYf6 .item-PXvHYJ:hover, .ui-tab-bar-item:hover {
    background-color: var(--semi-transparent)!important;
    width:187px;
    opacity: 0.7;
}
.sidebar-CFHs9e .side-8zPYf6 .selected-3s45Ha, .ui-tab-bar-item.selected {
    line-height:15px!important; 
    background-color: var(--semi-transparent)!important; 
    width:187px;
}
.sidebar-CFHs9e .side-8zPYf6 .header-2RyJ0Y, .ui-tab-bar-header {
    background-color: var(--semi-transparent); 
    border-radius: 3px; 
    color: white;
    line-height:28px!important; 
    padding:0 0 0 10px!important; 
    border: 1px solid var(--accent);
}
.sidebar-CFHs9e {
    padding: 20px 18px 20px 23px ;
    width: 210px
}
.contentColumn-2hrIYH {
max-width: 100%; 
padding: 60px 30px 80px
}
.codeRedemptionRedirect-1wVR4b {
background-color: var(--semi-transparent)!important;
}
.content-1rPSz4 {padding-top: 20px!important;} 
a[target="_blank"] {color: var(--accent);}
.foreground-2aE44H {stroke: var(--accent);}
.previewOverlay-2O7_KC , .formNotice-2_hHWR {background-color: rgba(50,50,50,0.5)!important}
.media-engine-video {background: transparent!important;}
.avatarUploaderInner-3UNxY3 {background-color:var(--accent)!important;}

/*--toast notifs--*/
.toast, .bd-toast {
    background: rgba(0,0,0,0.7)!important;
    border: 1px solid var(--accent)!important;
    border-radius: 13px!important;
    color: var(--accent)!important;
    right: 100px!important;
}
.bd-toasts, .toasts {
    width: calc(100% - 10px)!important;
    position: absolute;
    top: initial!important;
    right: 0px!important;
    bottom: 0px!important;
    left: 0px!important;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: flex-end!important;
}
/*--plugins notice--*/
#pluginNotice,
.DevilBro-notice {
    border-radius: 0 0 9px 9px !important;
    margin-top: -5px;
    margin-left: 4px !important;
    margin-right: 4px !important;
    background: var(--accent)
}
	/*CustomCSS*/
	.ace_editor {background-color: rgba(0,0,0,0.2)!important}
	.ace_gutter , #bd-customcss-attach-controls {background-color: rgba(0,0,0,0.5)!important}

	.ace_active-line {background-color: rgba(50,50,50,0.4) !important}
	.ace_gutter-active-line {background-color: rgba(50,50,50,0.7)!important}

	#bd-customcss-attach-controls {padding-left: 9px}
	.checkbox-3kaeSU {padding-left: 1px}
	#bd-customcss-detach-controls-button button {border: 0!important; border-radius: 10px!important; margin-right: 5px!important; transition: 0.1s background-color ease-in-out}
	#bd-customcss-detach-controls-button button:hover {background-color: rgb(100,100,100)!important}
	#bd-customcss-detach-controls-button button:active {background-color: var(--accent)!important}

	#bd-customcss-detach-container {background-color: rgba(0,0,0,0.7)}
	#editor-detached button {background-color: var(--accent)!important}

[role][aria-label]:not([aria-label="Spoiler"]):not([role="dialog"]) *,
.wrapper-3t9DeA {
  overflow: visible;
  mask: none !important;
  -webkit-mask: none !important;
    z-index: 1;
}
[role][aria-label]:not([aria-label="Spoiler"]):not([role="dialog"]) rect,
.wrapper-3t9DeA rect {
  x: 80%!important;
  y: 0!important;
  position: absolute;
  width: 10%;
  height: 100%;
}
.avatarWrapper-3B0ndJ.wrapper-3t9DeA > svg > rect{
  opacity: 1;
}

[mask="url(#svg-mask-status-streaming)"] {
  fill: rgb(89, 54, 149);
}

.member-3W1lQa * [x="22"], .member-3W1lQa * [x="14.5"]{
  x: 0!important;
}

[id="ff22a938-e113-4147-ad91-341c66749418"],.cursorDefault-dsQJ1n{
display: none
}

[mask="url(#svg-mask-avatar-default)"],[mask="url(#svg-mask-avatar-status-round-32)"],[id="1a9ca1ed-c221-4566-b3ec-ab4945ce82dc"],foreignObject[mask*="url(#"]{
  border-radius: 0;
  -webkit-mask: none;
  mask: none;
}


      .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh a {
        border-radius: 30px;
        overflow: hidden;
        transition: 0.2s ease; }
        .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh a[rel*="noopener"], .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh a[rel*="noreferrer"] {
          width: 40px;
          height: 40px; }
.wrapper-1Rf91z .circleButtonMask-2VNJsN:hover > svg, .wrapper-1Rf91z .scroller-2FKFPG .listItem-2P_4kh:hover a {
      border-radius: 15px; }

