//META{"name":"Giorno","description":"A semi-compact customizable Discord Theme. Keep in mind that the settings bar is at the top! This is the source code for the theme and will not be updated automatically!","source":"https://github.com/Notiphiliac/Source-Codes","author":"Notiphiliac","version":"1.1"}*//

/*----variables----*/
:root {
    /*-Background Image-*/
    --background: url(https://pbs.twimg.com/media/D8KwJPcXUAAX_Tr.jpg);
    /*-Accents-*/
    --accent-1: #9696fa;
    --accent-2: rgb(124,164,213);
    /*transparency*/
    --transparent-1: rgba(0, 0, 0, 0.3);
    --transparent-2: rgba(0, 0, 0, 0.5);
    --transparent-3: rgba(0, 0, 0, 0.7);
    --transparent-4: rgba(0, 0, 0, 0.9);
}

/*--transparency--*/
.da-appMount {
	background: var(--background) center/cover;
}
.theme-dark, .theme-light {
    --background-primary: none;
    --background-secondary: none;
    --background-tertiary: none;
    --background-accent: none;
    --deprecated-panel-background: none;
    --elevation-low: none;
    --channeltextarea-background: none;
    --activity-card-background: none;
    --background-floating: var(--transparent-3);
}

/*--text--*/
.theme-dark, .theme-light {
    --header-primary: white;
    --header-secondary: lightgrey;
    --text-normal: white;
    --text-muted: lightgrey;
    --text-link: var(--accent-1);
    --channels-default: lightgray;
    --interactive-normal: lightgray;
    --interactive-hover: white;
    --interactive-active: white;
    --interactive-muted: lightgray;
    --textbox-markdown-syntax: gray;
}

/*--titlebar--*/
.typeWindows-1za-n7 {
    height: 20px !important;
    background-color: var(--transparent-1);
    border-radius: 7px;
    padding-bottom: 4px;
    margin-bottom: 4px;
    position: relative;
}
.winButton-iRh8-Z {
    top: 1px;
}

/*--home button--*/
.homeIcon-tEMBK1 {
  background-color: white;
  -webkit-mask: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/cb0a1386-45ef-4e16-a69b-1525078ffa39/ddht534-8082ee42-e5b6-4947-a616-e6fef5594819.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2NiMGExMzg2LTQ1ZWYtNGUxNi1hNjliLTE1MjUwNzhmZmEzOVwvZGRodDUzNC04MDgyZWU0Mi1lNWI2LTQ5NDctYTYxNi1lNmZlZjU1OTQ4MTkucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.94S1rhnjG48-8m--pGS3UKzRZpLNJ7jg89nJHW9rHiw);
  -webkit-mask-size: 20px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: bottom;
  transform: scale(1);
  transition: background-color 0.2s ease-in-out;
  -webkit-mask-position: bottom;
  margin-left: 0px;
  height: 100% !important;
  width: 100% !important;
  transform: rotate(220deg);
}
.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, .wrapper-1BJsBx:hover .childWrapper-anI2G9 {
    color: #fff;
    background-color: var(--accent-1);
}

/*--servers--*/
.wrapper-1Rf91z {
    background-color: var(--transparent-1);
    
}
.da-wrapper.guilds-1SWlCJ, .da-expandedFolderBackground, .folder-21wGz3, .da-folderIconWrapper {
	border-radius: 0px 13px 13px 0px;
}

.theme-dark #bd-pub-li .wrapper-25eVIn, .theme-light #bd-pub-li .wrapper-25eVIn {
    background-color: var(--transparent-1);
    color: lightgrey;
}
.circleIconButton-jET_ig {
    color: var(--accent-1);
}
.circleIconButton-jET_ig.selected-ugP_am {
    background-color: var(--accent-1);
}

/*--sidepannel--*/
.sidebar-2K8pFh {
    background: var(--transparent-1);
    border-right: 1.6px solid rgba(50, 50, 50, 0.6);
    border-left: 1.6px solid rgba(50, 50, 50, 0.6);
    flex-direction: column-reverse;
    margin-left: 4px;
    margin-right: 4px;
    border-radius: 13px 13px 13px 13px!important;
}
.layout-2DM8Md {
    height: 38px;
    padding: 0 1px;
}
.channel-2QD9_O {
    max-width: 224px;
    margin-left: 2px;
}
.container-2Pjhx- {
    padding: 0px 0;
    color: var(--accent-1);
} 
.clickable-1JJAn8.container-2Pjhx-:active, .selected-aXhQR6.container-2Pjhx- {
    color: var(--accent-2);
    border: 2px dashed var(--accent-1);
    margin: -2px 0px -2px 0px
}
.clickable-1JJAn8.container-2Pjhx-:hover {
    color: var(--accent-1);
    border: 2px dashed var(--accent-2);
    margin: -2px 0px -2px 0px
}
.searchBar-6Kv8R2 {
    height: 20px;
}
.searchBar-6Kv8R2 .searchBarComponent-32dTOx {
    background-color: var(--transparent-1);
    color: var(--accent-1);
    text-align: center;
}
.header-zu8eWb {
    padding: 1px 8px 4px 18px;
    height: 20px;
}
.container-2ax-kl {
    text-align: center;
    color: var(--accent-1);
    border: 1px solid white;
    border-radius: 13px;
}
.privateChannelRecipientsInviteButtonIcon-cXLJ7f {
    width: 16px!important;
    height: 16px!important;
    padding: 0!important;
    border: none!important;
}

/*--quick switcher--*/
.theme-dark .quickswitcher-3JagVE, .theme-light .quickswitcher-3JagVE, .theme-light .input-2VB9rf, .theme-dark .input-2VB9rf  { 
    background-color: var(--transparent-1); 
}

/*--activity feed--*/
.theme-dark .da-activityFeed, .theme-light .da-activityFeed {
    border-radius: 13px 0 0 13px
}
.theme-dark .da-activityFeed, .theme-dark .wrapper-3UweLa, .theme-dark .multipleIconWrapper-1PjkRO, .theme-dark .section-2VKIPC, .theme-light .da-activityFeed, .theme-light .wrapper-3UweLa, .theme-light .multipleIconWrapper-1PjkRO, .theme-light .section-2VKIPC, .theme-dark .inset-GQDQYw, .theme-light .inset-GQDQYw, .theme-dark .recentlyPlayedContainer-2F3MqS, .theme-light .recentlyPlayedContainer-2F3MqS, .theme-dark .section-2VKIPC, .theme-dark .outer-2IVh5n, .theme-light .section-2VKIPC, .theme-light .outer-2IVh5n {
    background-color: var(--transparent-1) !important;
}
.theme-dark .popout-3G62UL, .theme-dark .popoutContainer-3WC9HR:hover, .theme-dark .outer-2IVh5n.interactive-1BeKSi:hover, .theme-dark .enabled-5QKLzu:hover, .theme-dark .memberListItem-2ZX2pl:not(.popoutDisabled-xucru2):hover, .theme-light .popout-3G62UL, .theme-light .popoutContainer-3WC9HR:hover, .theme-light .outer-2IVh5n.interactive-1BeKSi:hover, .theme-light .enabled-5QKLzu:hover, .theme-light .memberListItem-2ZX2pl:not(.popoutDisabled-xucru2):hover {
    background-color: var(--transparent-2);
}
.theme-dark .separator-2c4hi3, .theme-light .separator-2c4hi3 {
    background-color: transparent!important;
}
.theme-light .wrapper-Lii66c, .theme-light .wrapper-3UweLa, .theme-light .recentlyPlayedContainer-2F3MqS, .theme-light .card-3EIh8J, .theme-light .wrapper-9ppXpy, .theme-light .popout-3G62UL {
    border: 0;
    box-shadow: none!important;
}
.buttonColor-1agP3J, .interactive-1FxC7B:hover, .theme-dark .interactive-1FxC7B:hover, theme-light .interactive-1FxC7B:hover{
    background-color: var(--accent-1);
}

/*--library/inventory--*/
.theme-dark .da-root, .theme-light .da-root, .theme-dark .gameLibrary-TTDw4Y, .theme-light .gameLibrary-TTDw4Y {
    background-color:  var(--transparent-1)!important;
    border-radius: 13px 0 0 13px
}

.da-scrollerStore .da-body .da-root {
    background-color: transparent!important;
}

/*--nitro tab--*/
.theme-dark .applicationStore-1pNvnv, .theme-dark .itemBackground-1jfD8p, .theme-light .applicationStore-1pNvnv, .theme-light .itemBackground-1jfD8p {
    background-color: var(--transparent-1);
    border-radius: 13px 0 0 13px
}
.feature-1Q4U_R, .theme-dark .tile-QA_yMc, .theme-light .tile-QA_yMc {
    background: var(--transparent-2);
    border-radius: 10px;
    border: 2px dashed var(--accent-1);
}
.theme-dark .tile-QA_yMc:hover, .theme-light .tile-QA_yMc:hover, .theme-dark .tier1Banner-1BTgv0, .theme-light .tier1Banner-1BTgv0 {
    background-color: var(--transparent-3);
    border: 2px dashed var(--accent-1);
}

/*--friends--*/
.friendsTable-133bsv .friendsRow-2yicud {
    background: transparent;
}
.friendsTable-133bsv .friendsTableHeader-32yE7d .friendsColumn-eVHFqJ.friendsColumnName-1zBOKm, .friendsTable-133bsv .friendsTableHeader-32yE7d .friendsColumn-eVHFqJ.friendsColumnStatus-ZH4ho2 {
    margin-right: 12px;
    border-left: 1px solid white;
}
.friendsTable-133bsv .friendsRow-2yicud:hover {
    border: 2px dashed var(--accent-1);
}
.da-app .container-3gCOGc {
    background-color: var(--transparent-1);
    border-radius: 13px 0 0 13px
}
.side-8zPYf6 .themed-OHr7kt.item-PXvHYJ:hover, .topPill-30KHOu .themed-OHr7kt.item-PXvHYJ:hover, .side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ, .topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ {
    border: 2px dashed var(--accent-1);
    background-color: var(--transparent-1)!important;
}
.theme-dark .tabBar-1E2ExX .item-3HpYcP, .theme-light .tabBar-1E2ExX .item-3HpYcP {
background-color: var(--accent-1)!important
}
.theme-dark .themed-OHr7kt.item-PXvHYJ, .theme-light .tabBar-1E2ExX .item-3HpYcP {
background-color: transparent!important
}
/*--status/custom status--*/
.menu-Sp6bN1, .theme-dark .root-1gCeng, .theme-light .root-1gCeng {
    border-radius: 13px;
    background: var(--transparent-3);
    padding: 0;
    margin: 0px;
    box-shadow: none;
}
.theme-dark .footer-3rDWdC, .theme-light .footer-3rDWdC {
    background-color: var(--transparent-1);
}
.lookFilled-1Gx00P.colorBrand-3pXr91 {
    background-color: var(--accent-2);
}
.input-cIJ7To.focused-1mmYsC, .input-cIJ7To:focus, .theme-dark .lookFilled-1h1y05.select-1Pkeg4:hover.selectOpen-hQuR6b, .theme-dark .lookFilled-1h1y05.selectOpen-hQuR6b, .theme-light .lookFilled-1h1y05.select-1Pkeg4:hover.selectOpen-hQuR6b, .theme-light .lookFilled-1h1y05.selectOpen-hQuR6b, .theme-dark .lookFilled-1h1y05.select-1Pkeg4:focus, .theme-light .lookFilled-1h1y05.select-1Pkeg4:focus {
    border-color: var(--accent-2);
}
.theme-dark .popout-2sKjHu {
    border: none;
    background: var(--transparent-2);
}

/*--messages+chat--*/
.themeDark-3Ap_7i, .da-app .chat-3bRxxu {
    background: var(--transparent-1);
    border-radius: 13px 0 0 13px
}
.chat-3bRxxu form {
	margin: -2px 10px -24px 0px;
}
.containerCozy-jafyvG {
    padding-top: 13px;
    padding-bottom: 13px;
}
.base-gE7OpD {
    position: absolute;
    bottom: 70px;
}
.form-2fGMdU {
    border-top: none;
    margin-left: 10px;
    margin-right: 10px;
}
.scrollableContainer-2NUZem {
    background-color: var(--transparent-1);
    max-height: 144px;
    border-radius: 13px;
    position: relative;
    bottom: 5px
}
.clickable-3rdHwn .icon-22AiRD {
    border: 1px solid var(--accent-1);
    border-radius: 13px;
    padding: 0px 4px 0px 4px;
    width: 30px;
    height: 30px;
}
.markup-2BOw-j code {
    background: var(--transparent-2);
}
/*--new/old/load messages--*/
.newMessagesBar-mujexs {
    background-color: var(--accent-1);
}
.hasMore-3e72_v {
    background: var(--transparent-1);
    box-shadow: none;
    color: var(--accent-1);
}
.jumpToPresentBar-9P20AM {
    background-color: var(--accent-2);
    opacity: .8;
}

/*--calling--*/
.lookFilled-1Gx00P.colorRed-1TFJan {
    background-color: var(--accent-2);
}
.lookFilled-1Gx00P.colorRed-1TFJan:hover {
    background-color: var(--accent-2);
    filter: saturate(0.5);
}
.theme-dark .wrapper-29NfPK, .theme-light .wrapper-29NfPK {
    background-color: transparent;
}
.video-1FfuMD {
	background: var(--transparent-1) !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

/*--pins--*/
.messagesPopoutWrap-1MQ1bW, .messagesPopout-24nkyi, .header-ykumBX {
    background: var(--transparent-1)!important;
    max-height: calc(100vw - 10px);
}

.messageGroupWrapper-o-Zw7G {
    background: var(--transparent-1) !important;
    border: transparent
}
.theme-dark .messageGroupWrapper-o-Zw7G:hover .actionButtons-1sUUug, .theme-light .messageGroupWrapper-o-Zw7G:hover .actionButtons-1sUUug {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
}
.theme-dark .jumpButton-3DTcS_, .theme-light .jumpButton-3DTcS_ {
    background-color: var(--accent-1);
    color: white;
}

/*--add friends--*/
.theme-dark .modal-yWgWj-, .theme-light .modal-yWgWj- {
    background-color: var(--transparent-2);
    box-shadow: none;
}
.theme-dark .friendSelected-1sa4bG, .theme-light .friendSelected-1sa4bG {
    background-color: var(--transparent-2);
    color: #fff;
}

/*--search--*/
.search-2oPWTC .searchBar-3dMhjb {
    width:30px;
    transition-duration:300ms;
    border: 1px solid var(--accent-1);
    border-radius: 13px;
    padding: 2px 4px 0 4px;
    width: 30px;
    height: 30px;
    position: relative;
    top: 3px;
}
.search-2oPWTC .searchBar-3dMhjb:hover {width:200px;}
.search-2oPWTC.focused-31_ccS .searchBar-3dMhjb {width: 244px;}
.da-searchResultsWrap .da-searchResult.da-expanded .da-searchResultMessage.da-hit, .da-searchHeader, .da-searchFilter, .da-option.da-selected, .theme-light .da-searchFilter, .da-option.da-selected, .da-popout .da-queryContainer, .theme-dark .da-searchResultsWrap, .theme-light .da-searchResultsWrap, .theme-dark .searchResult-3pzFAB .searchResultMessage-2VxO12.hit-NLlWXA, .theme-light .searchResult-3pzFAB .searchResultMessage-2VxO12.hit-NLlWXA {
    background-color: var(--transparent-1)!important;
}
.da-option::after, .da-option.da-selected::after, .da-searchResultsWrap .da-searchResult::before, .da-searchResultsWrap .da-searchResult::after {
    background: none !important;
    background-image: none !important;
}
.theme-dark .da-popout .da-container, .theme-light .da-popout .da-container, .theme-dark .searchAnswer-3Dz2-q, .theme-dark .searchFilter-2ESiM3, .theme-light .searchAnswer-3Dz2-q, .theme-light .searchFilter-2ESiM3 {
    background-color: var(--transparent-3); 
    border: none 
}
.theme-dark .searchResult-3pzFAB .searchResultMessage-2VxO12.after-2g0jjc, .theme-dark .searchResult-3pzFAB .searchResultMessage-2VxO12.before-1x1q5S, .theme-light .searchResult-3pzFAB .searchResultMessage-2VxO12.after-2g0jjc, .theme-light .searchResult-3pzFAB .searchResultMessage-2VxO12.before-1x1q5S {
    opacity: .3;
    filter: blur(0.9px);
}
.theme-dark .searchResult-3pzFAB.expanded-v2Szsz .searchResultMessage-2VxO12, .theme-light .searchResult-3pzFAB.expanded-v2Szsz .searchResultMessage-2VxO12 {
    filter: blur(0px);
    opacity: 1;
}
.da-searchResultsWrap {
    border-radius: 13px 0 0px 13px !important;
    margin-left: 4px
}
.da-searchResultsWrap .da-channelSeparator .da-channelName {
    background-color: transparent!important;
    border: none;
}
.theme-dark .searchResult-3pzFAB.expanded-v2Szsz .searchResultMessage-2VxO12.hit-NLlWXA, .theme-light .searchResult-3pzFAB.expanded-v2Szsz .searchResultMessage-2VxO12.hit-NLlWXA {
    border-top: 1px dashed var(--accent-1);
    border-bottom: 1px dashed var(--accent-1);
}
.theme-dark .searchResult-3pzFAB.expanded-v2Szsz .searchResultMessage-2VxO12.hit-NLlWXA:last-of-type, .theme-light .searchResult-3pzFAB.expanded-v2Szsz .searchResultMessage-2VxO12.hit-NLlWXA:last-of-type {
    border-top: 1px dashed var(--accent-1);
    border-bottom: none;
}
.da-searchResultsWrap .da-searchResult.da-expanded {
    border: 2px dashed var(--accent-1);
    border-radius: 13px !important;
}
.theme-dark .jumpButton-Ia2hRJ, .theme-light .jumpButton-Ia2hRJ {
    background-color: var(--accent-1);
    color: white;
}
.da-elevationBorderHigh {
	box-shadow: none !important;
}
.theme-dark .da-searchResultsWrap .search-header, .theme-light .searchHeader-1l-wpR {
	background-color: var(--transparent-2);
}
.da-searchResultMessage .da-container:last-of-type .da-divider {
	margin: 0 0 -5px 0 !important;
}
.theme-dark .searchResult-3pzFAB .hit-NLlWXA, .theme-light .searchResult-3pzFAB .hit-NLlWXA {
    background-color: #36393f;
    box-shadow: none;
}
.da-calendarPicker .react-datepicker, .da-calendarPicker .react-datepicker .react-datepicker__header, .theme-dark .da-calendarPicker .react-datepicker__day--outside-month, .theme-dark .da-calendarPicker .react-datepicker__day--outside-month:hover, .theme-dark .da-calendarPicker .react-datepicker__day.react-datepicker__day--disabled, .theme-dark .da-calendarPicker .react-datepicker__day.react-datepicker__day--disabled:hover,  .theme-light .da-calendarPicker .react-datepicker__day--outside-month, .theme-light .da-calendarPicker .react-datepicker__day--outside-month:hover, .theme-light .da-calendarPicker .react-datepicker__day.react-datepicker__day--disabled, .theme-light .da-calendarPicker .react-datepicker__day.react-datepicker__day--disabled:hover {
	background-color: transparent !important;
}
.theme-dark .da-calendarPicker .react-datepicker__day.react-datepicker__day--selected:hover, .theme-dark .da-calendarPicker .react-datepicker__day:hover, .theme-light .da-calendarPicker .react-datepicker__day.react-datepicker__day--selected:hover, .theme-light .da-calendarPicker .react-datepicker__day:hover {
	background-color: var(--accent-1) !important;
}

/*--upload--*/
.theme-dark .uploadModal-2ifh8j, .theme-light .uploadModal-2ifh8j, .theme-dark .footer-3mqk7D, .theme-light .footer-3mqk7D {
    background-color: var(--transparent-2);
    box-shadow: none;
}
.attachPopout-36hjtN {
    border-radius: 13px;
    background-color: var(--transparent-3);
    box-shadow: none;
}

/*--gifs--*/
.theme-dark .autocomplete-1vrmpx {
    background-color: var(--transparent-3);
    border-radius: 13px;
}

/*--emotes--*/
.infoBar-U6oBFk {
    background-color: var(--accent-2);
}
.da-emojiPicker,
.bda-dark .da-emojiPicker {
    background-color: var(--transparent-3);
}
.theme-light .selectorSelected-1_M1WV, .theme-dark .selectorSelected-1_M1WV {
	background-color: rgba(250,250,250,0.2);
	transition: background-color .3s;
	border-radius: 7px;
}

/*--members list--*/
.membersGroup-v9BXpm {
    padding: 0px 8px 0 16px;
    height: 20px;
    border: none!important;
}

/*--scrollbar--*/
.da-scrollerWrap .da-scroller::-webkit-scrollbar { 
    width: 11px;
}
.da-scrollerWrap .da-scroller::-webkit-scrollbar-thumb {
    border: none !important;
    background-color: var(--accent-1) !important;
}
.da-scrollerWrap .da-scroller::-webkit-scrollbar-track-piece { 
    border: none !important;
}
.theme-dark .da-scrollerWrap .da-scroller::-webkit-scrollbar-track-piece, .theme-light .da-scrollerWrap .da-scroller::-webkit-scrollbar-track-piece {
    background-color: var(--transparent-1)!important;
}

/*--profile popout--*/
.theme-dark .headerNormal-T_seeN, .theme-light .headerNormal-T_seeN, .userPopout-3XzG_A .role-2irmRk, .theme-dark .bodyInner-245q0L, .theme-dark .footer-1fjuF6, .theme-light .bodyInner-245q0L, .theme-light .footer-1fjuF6 {
    background-color: var(--transparent-3);
    color: white;
}
.bodyTitle-Y0qMQz {
    text-align: center;
    text-transform: none!important;
}
.note-3HfJZ5 textarea {
    border: 1px solid var(--transparent-2);
}
.theme-dark .quickMessage-1yeL4E, .theme-light .quickMessage-1yeL4E {
    background-color: var(--transparent-2);
    border-color: transparent;
}
.headerName-fajvi9, .headerTagUsernameNoNickname-2_H881, .bodyTitle-Y0qMQz {
    color: white!important;
}

/*--popouts--*/
.container-3cGP6G {
    background-color: var(--transparent-2);
    box-shadow: none;
}
/*-----settings-----*/
.da-sidebarRegion {
    max-width: 218px;
}
.theme-dark #bd-settings-sidebar .ui-tab-bar-item:hover,
.theme-light #bd-settings-sidebar .ui-tab-bar-item:hover {
    background-color: var(--background-modifier-hover);
    border: 2px dashed var(--accent-1);
}
#bd-settings-sidebar .ui-tab-bar-item.selected {
    background-color: var(--background-modifier-selected)!important;
    border: 2px dashed var(--accent-1);
}
.contentColumn-2hrIYH, .customColumn-Rb6toI {
   max-width: 100%;
}
.theme-dark .standardSidebarView-3F1I7i .contentRegion-3nDuYy, .theme-dark .standardSidebarView-3F1I7i .sidebarRegion-VFTUkN, .theme-light .standardSidebarView-3F1I7i .contentRegion-3nDuYy, .theme-light .standardSidebarView-3F1I7i .sidebarRegion-VFTUkN {
    background-color: var(--transparent-1);
    border-radius: 16px;
}
.cardPrimary-1Hv-to {
    background: rgba(50, 103, 182, 0.6);
}
.cardPrimary-1Hv-to, .cardPrimaryEditable-3KtE4g {
    background: var(--transparent-2);
    border: 2px dashed var(--accent-1);
}
.cardPrimaryOutline-29Ujqw {
    border: 2px dashed var(--accent-1);
    background: var(--transparent-1)
}
.themeDefault-24hCdX.valueChecked-m-4IJZ {
    background-color: var(--accent-1);
}
#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch.checked,
.bd-pfbtn {
	background: var(--accent-1) !important;
}
.standardSidebarView-3F1I7i .contentRegion-3nDuYy .bda-slist li { 
    border: 1px solid var(--accent-1); 
    background: var(--transparent-1); 
    color: white; 
}
.layer-3QrUeG[aria-label*="SETTINGS"] .standardSidebarView-3F1I7i .contentRegion-3nDuYy .bda-slist .bda-header, .theme-dark .bda-slist .bda-description, .theme-light .bda-slist .bda-description, .theme-dark #bd-settingspane-container h2.ui-form-title, .theme-dark #bd-settingspane-container .ui-switch-item h3, .theme-light #bd-settingspane-container h2.ui-form-title, .theme-light #bd-settingspane-container .ui-switch-item h3, .theme-dark #bd-settingspane-container .ui-switch-item .style-description, .theme-light #bd-settingspane-container .ui-switch-item .style-description, .theme-dark #bd-settings-sidebar .ui-tab-bar-item:hover, .theme-light #bd-settings-sidebar .ui-tab-bar-item:hover {
    color: white 
}

/*--toast notifs--*/
.toast, .bd-toast {
    background: black!important;
    border: 1px solid var(--accent-1)!important;
    border-radius: 13px!important;
    color: var(--accent-1)!important;
    right: 100px!important;
}
.bd-toasts, .toasts {
    width: calc(100% - 10px)!important;
    position: absolute;
    top: initial!important;
    right: 0px!important;
    bottom: 0px!important;
    left: 0px!important;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: flex-end!important;
}
/*--plugins notice--*/
#pluginNotice,
.DevilBro-notice {
    border-radius: 0 0 9px 9px !important;
    margin-top: -5px;
    margin-left: 4px !important;
    margin-right: 4px !important;
    background: var(--accent-1)
}

/*test code*/
