/**
 * @name Σxotic Source
 * @author Notiphiliac
 * @version 1.1.0
 * @description A tropical experience right inside Discord! 
 * @authorId 207335168430702602
 * @source https://github.com/Notiphiliac/Discord-Themes
 * @invite cscGjg2
 */
/*variables*/
:root {
    --background: url(https://img5.goodfon.com/wallpaper/nbig/7/59/mmmmmm-nnnnnn-bbbbbb-vvvvvvvvvvvvvv.jpg);
    --popup-background: url(https://image.freepik.com/free-vector/tropical-flowers-wallpaper_23-2148523155.jpg);
    --accent-1: #faf0e8;
    --accent-2: #2a4f34;
    --transparent-1: rgba(0, 0, 0, 0.3);
    --transparent-2: rgba(0, 0, 0, 0.5);
    --transparent-3: rgba(0, 0, 0, 0.7);
}
/*transparency*/
.theme-dark, .theme-light {
    --background-primary: var(--transparent-1)!important;
    --background-secondary: transparent;
    --background-tertiary: none;
    --background-accent: none;
    --background-secondary-alt: var(--transparent-1);
    --background-floating: var(--transparent-3);
    --background-modifier-selected: var(--accent);
    --background-modifier-hover: none;
    --background-modifier-active: var(--transparent-1);
    --background-modifier-hover: none;
}
#app-mount .footer-1fjuF6, #app-mount .body-3iLsc4, .contentRegion-3HkfJJ, #app-mount .footer-1Ip3Sd, .input-2g-os5, .themeDark-3Ap_7i, .chat-2ZfjoI, #app-mount .container-2cd8Mz, .themed-2-lozF.item-3XjbnG,  #app-mount .separator-2OaeRP , .da-option::after, .da-option.da-selected::after, .da-searchResultsWrap .da-searchResult::before, .da-searchResultsWrap .da-searchResult::after, #app-mount .calendarPicker-sDhzdi .react-datepicker__header, #app-mount .calendarPicker-sDhzdi .react-datepicker__day--disabled, #app-mount .calendarPicker-sDhzdi .react-datepicker__day--outside-month, #app-mount .da-calendarPicker .react-datepicker__day--outside-month:hover, #app-mount .da-calendarPicker .react-datepicker__day.react-datepicker__day--disabled:hover, #app-mount .calendarPicker-sDhzdi .react-datepicker, .layer-86YKbF, #app-mount .standardSidebarView-E9Pc3j, #app-mount.standardSidebarView-E9Pc3j .contentRegion-3HkfJJ, #app-mount .standardSidebarView-E9Pc3j .sidebarRegion-1VBisG, #app-mount .payment-2bOh4k, .video-35SHWt {
    background-color: transparent!important;
    background-image: none;
    border: none;
}
#app-mount .children-3xh0VB:after, #app-mount .form-3gdLxP:before {display: none}

/*home button*/
.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub, .wrapper-3kah-n:hover .childWrapper-1j_1ub {
    background-color: var(--accent-2);
    color: #fff;
}
.childWrapper-1j_1ub {
    color: var(--accent-1);
}

/*background*/
.appMount-2yBXZl {
	background: var(--background) center/cover;
}
.app-3xd6d0, .app-2CXKsg {
    bottom: 10px; top: 3px; right: 10px; left: 3px;
}
html {
    background-color: var(--accent-2);
}

/*scrollers*/
::-webkit-scrollbar-track-piece {
  background: transparent!important;
  border: none!important;
}
:not(.scroller-2TZvBN)::-webkit-scrollbar-thumb {
  background: var(--accent-1)!important;
  border: none!important;
}
::-webkit-scrollbar {width: 5px!important;}

/*text*/
.theme-dark, .theme-light {
    --header-primary: white;
    --header-secondary: lightgrey;
    --text-normal: white;
    --text-muted: lightgrey;
    --text-link: var(--accent-1);
    --channels-default: lightgray;
    --interactive-normal: lightgray;
    --interactive-hover: white;
    --interactive-active: white;
    --interactive-muted: gray;
    --textbox-markdown-syntax: grey;
}
* {font-family: sans-serif;}
/*modules*/
.backdrop-2ByYRN, .backdropWithLayer-3_uhz4 {backdrop-filter: blur(5px);}
#app-mount .root-g14mjS {background: transparent; box-shadow: none;}
.tabBar-2MuP6-, .tabBarItem-1b8RUP {
    position: relative;
    left: 60px
}
.top-K_jibn .item-3XjbnG:hover {
    border-bottom: 2px solid var(--accent-2)!important;
}
/*popups*/
.layer-2aCOJ3:not(.disabledPointerEvents-2AmYRc) {
    background: var(--popup-background);
    border-radius: 13px;
}
.layer-2aCOJ3 > div {background: var(--transparent-2);}
    /*profile-p*/
#app-mount .headerNormal-T_seeN, .inputWrapper-1YNMmM  {background: var(--transparent-1);}
.headerPlaying-j0WQBV, .headerStreaming-2FjmGz, .headerSpotify-zpWxgT {background: transparent}
.headerPlaying-j0WQBV .activity-11LB_k {background: #7289da;}
.headerStreaming-2FjmGz .activity-11LB_k {background: #593695;}
.headerSpotify-zpWxgT .activity-11LB_k {background: #1db9549d;}
.full-motion .translate-PeW1wK.didRender-2SiRlm {transition: none!important}
.role-2TIOKu {
    text-transform: uppercase;
    border-radius: 13px;
    position: relative;
    padding: 6px;
  }
  .role-2TIOKu .roleCircle-1EgnFN::before {
    content: "";
    background-color: inherit;
    height: 100%; width: 100%;
    position: absolute;
    left: 0; top: 0;
    opacity: .5;
    border-radius: 13px;
    pointer-events: none;
  }
.bodyTitle-Y0qMQz {text-align: center;}
.note-3HfJZ5 {
    background: var(--accent-2);
    border: 1px solid var(--transparent-1); border-radius: 13px;
    margin: 0 -9px;
}

/*--popouts--*/

.theme-dark .keyboardShortcutsModal-2CRmCm, .theme-light .keyboardShortcutsModal-2CRmCm, .theme-dark .quickSelectPopout-2F0PXw, .theme-light .quickSelectPopout-2F0PXw {
    background-color: var(--transparent-3)
}

/*titlebar*/
.typeWindows-2-g3UY {display: none;}

/*servers*/
#bd-pub-li .wrapper-28eC3z {background-color: var(--transparent-1);}
.guilds-2JjMmN, .expandedFolderBackground-2sPsd- {
    background-color: var(--transparent-1);
    border-radius: 13px;
}
.circleIconButton-jET_ig {color: var(--accent-1);}
.circleIconButton-jET_ig.selected-ugP_am {background-color: var(--accent-2);}
.childWrapper-1j_1ub:first-of-type {background: transparent;}

/*add a server*/ 
#app-mount .slideBody-2nMrnU, #app-mount .modal-2RrUKJ {
    background: var(--accent-2) center/cover!important;
    border-radius: 13px;
    height: 340px;
    padding-top: 0;
}
#app-mount .footer-31IekZ {
    background: var(--transparent-1); 
    height: 30px;
    overflow-y: hidden;
}
.slideBody-35BNbg {
    background: var(--transparent-2)!important;
    border-radius: 13px;
    padding: 4px; margin: 5px!important; 
    overflow-y: hidden!important;
}
.slideBody-35BNbg .inputWrapper-1YNMmM {
    background: var(--transparent-2)!important;
    border-radius: 13px;
    padding: 0px 0 0 7px; margin: 0px;
}
#app-mount .input-1mgnkM, #app-mount .input-UJ9Tr3 {
    color: white!important;
    height: 20px;
    padding: 0 0 1px 0; margin: 0;
}
.inputWrapper-51e5iN {margin-bottom: 10px;}
#app-mount .action-1lSjCi {
    background: var(--transparent-2)!important;
    border: 2px solid var(--accent-2);
}
#app-mount .action-1lSjCi:after {
    content: "or";
    background: var(--transparent-1);
    color: rgb(255,255,255,0.6);
    border: 1px solid var(--accent-1); border-radius: 30px;
    padding: 10px;
    position: absolute;
    top: 120px; left: 46%;
    transform: scale(1.6);
}
#app-mount .avatar-21196O {border-color: var(--accent-1);}
.slideBody-2nMrnU .lookFilled-yCfaCM.colorBrand-I6CyqQ, .slideBody-2nMrnU .colorGreen-3y-Z79 {
    background: var(--transparent-2)!important; 
    width: 220px; 
    margin-left: -15px; 
    position: absolute; 
    bottom: -45px; 
}

/*server discovery*/
#app-mount .pageWrapper-2PwDoS, #app-mount .searchBox-pyIJJj, #app-mount .card-2TuZPZ, .css-1b86x2o-control, .css-9wh895-control, .loading-3ozbwt {
    background-color: var(--transparent-1);
    border-radius: 13px;
    box-shadow: none;
    margin-left: 4px;
}
.headerContentWrapper-1u9R_E {
    background: var(--accent-2);
    border-radius: 13px;
}
.css-1o55ng5-control {
    background-color: var(--transparent-1);
    border-radius: 13px 13px 0 0;
}
.css-12qlrak-indicatorContainer {
    color: white!important;
    opacity: 1
}
.css-123uooi-menu {
    background-color: var(--transparent-1);
    border-radius: 0 0 13px 13px;
    box-shadow: none;
    margin: 0;
}
.iconMask-2fMR98 {background-color: var(--transparent-1);}
#app-mount .card-2TuZPZ:hover {background-color: var(--transparent-2);}
.categoryItem-3zFJns.selectedCategoryItem-3X8ujp .itemInner-3gVXMG {background: var(--accent-2);}
#app-mount .searchBoxInput-3h4etz, .closeIcon-BMGxx0, .searchIcon-3X4BYL {color: white!important;}

/*sidepannel*/
.sidebar-1tnWFu {
    background-color: var(--transparent-1);
    border-radius: 13px!important;
    width:50px;
    margin: 0 4px;
    flex-direction: column-reverse;
    transition-duration: 0.3s; transition-timing-function: cubic-bezier(0.21, 0.04, 0.61, 1.26);
}
.searchBar-3TnChZ {height: 30px;}
.searchBarComponent-3N7dCG {
   color: var(--accent-1);
   text-overflow: clip!important;
}
.sidebar-1tnWFu:hover {width: 244px;}
.channel-1Shao0 {
    max-width: 224px;
    margin-left: 2px;
}
.layout-1qmrhw {
    height: 41px; width: 100%;
    padding: 0 1px;
}
.clickable-28SzVr:active .layout-1qmrhw {
    background: var(--accent-2);
    transition-duration: 0.3s;
}
.selected-1-Z6gm {
    background: var(--accent-2);
    max-width: 100%!important;
}
 .clickable-28SzVr:hover {
    background: linear-gradient(90deg,transparent,transparent,var(--transparent-1));
    box-shadow: inset 0 0 0 1.15px var(--accent-2);
    max-width: 100%!important;
}
.container-q97qHp, .content-1U25dZ {
    text-align: center!important;
    color: var(--accent-1);
}
.privateChannelsHeaderContainer-1UWASm {
    height: 25px;
    padding: 0px 15px; margin-bottom: 3px;
}
.modeSelected-1zApJ_ .children-Bmpf2Q {display: none;}
.modeSelected-1zApJ_:hover .children-Bmpf2Q {display: flex;}

/*quick switcher*/
#app-mount .quickswitcher-pKcM9U { 
    background-color: var(--accent-2); 
    border-radius: 13px;
    box-shadow: none;  
}
#app-mount .input-3r5zZY {
    background-color: var(--transparent-1);
    border-radius: 13px;}
.scroller-2qwVWY {
    background-color: var(--transparent-1);
    border-radius: 13px;
    width: 530px;
    margin-top: 3px;
}
[role="button"].result-u66Ywh:hover {
    background: var(--transparent-1);
    box-shadow: inset 0 0 0 1.15px var(--accent-2);
}
/*library+nitro tab*/
#app-mount .applicationStore-2nk7Lo, .container-36u7Lw {border-radius: 13px;}
#app-mount .applicationStore-2nk7Lo {background: transparent;}

/*--friends--*/
#app-mount .container-2cd8Mz {border-radius: 13px !important} 
.nowPlayingColumn-1eCBCN, .wrapper-2RrXDg, #app-mount .inset-SbsSFp, .peopleColumn-1wMU14, #app-mount .enabled-1t_Gxm:hover, #app-mount .memberListItem-31QoHj:not(.popoutDisabled-2RK7MF):hover, #app-mount .partyMemberOverflow-3G1oZz {
    background: var(--transparent-1);
}
#app-mount .outer-2JOHae.active-1W_Gl9, #app-mount .outer-2JOHae.interactive-2zD88a:hover, #app-mount .popout-3Zw0qN {
    background: var(--transparent-2);
}
.peopleListItem-u6dGxF:hover {
    background: linear-gradient(90deg,transparent,var(--transparent-1));
    box-shadow: inset 0 0 0 0.5px var(--accent-2);
}
.side-2ur1Qk .themed-2-lozF.item-3XjbnG:hover, .topPill-3DJJNV .themed-2-lozF.item-3XjbnG:hover, .side-2ur1Qk .themed-2-lozF.selected-g-kMVV.item-3XjbnG, .topPill-3DJJNV .themed-2-lozF.selected-g-kMVV.item-3XjbnG {
    box-shadow: inset 0 0 0 0.5px var(--accent-1);
    background-color: var(--transparent-1)!important;
}

/*--status/custom status--*/
.colorDefault-CDqZdO.focused-3qFvc8 {background:var(--accent-2)}

/*--messages+chat--*/
.chat-2ZfjoI {border-radius: 13px;}
.messagesWrapper-RpOMA3 {
    background: var(--transparent-1);
    border-radius: 0 0 13px 13px!important; 
}
.scroller-3sQKXg:after {height: 5px;}
.base-3bcbY3 {
    position: absolute;
    bottom: 60px;
}
.form-3gdLxP {
    margin: 10px 5px -24px 0px;
    padding: 0;
}
.scrollableContainer-15eg7h {
    background-color: transparent;
    max-height: 144px;
    border-radius: 13px;
    position: relative;
    bottom: 2px;
    box-shadow: none!important;
}
.clickable-ZD7xvu .icon-2xnN2Y, .cancelButton-oOSTov, .downloadButton-2HLFWN:hover {
    color: var(--accent-1);
    transition-duration: 0.3s;
}
.embedFull-1HGV2S {
    border-left: 4px solid var(--accent)!important;
    background: var(--transparent-1);
}
.markup-eYLPri code, #app-mount .attachment-1PZZB2 {
    scrollbar-color: var(--transparent-2) var(--transparent-1);
    background: var(--transparent-2);
    border: 1px solid var(--accent-2);
}
.group-spacing-16 .groupStart-3Mlgv1 {
    margin-top: 10px;
}
.mentioned-Tre-dv:before {
    border-left: 3px solid rgba(250, 166, 26);
    position: absolute;
    left: 65px;
    border-radius: 13px 0 0 13px;
    background: linear-gradient(45deg, rgba(250, 166, 26, 0.3), transparent);
    width: 100%;
}
.attachWrapper-3slhXI {
    height: 44px;
    border-color: blue;
    margin-top: 2px;
    margin-bottom: 0;
    padding: 0
}

/*--avatars--*/
.avatar-2e8lTP {
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 13px;
    overflow: visible!important;
}
.avatar-b5OQ1N {
	border-radius: 13px !important;
}

/*--new/old/load messages--*/
.newMessagesBar-1hF-9G {
    background-color: var(--accent-2);
}
.hasMore-3e72_v {
    background: var(--transparent-1);
    box-shadow: none;
    color: var(--accent-2);
}
.jumpToPresentBar-9P20AM {
    background-color: var(--accent-2);
    opacity: .9;
    padding: 0px;
}
.mention-3XBnnZ {
    background-color: var(--accent-2);
}
.unread-2wipsx {
    background-color: var(--accent-2);
    opacity: .9;
}

/*--calling--*/
.lookFilled-yCfaCM.colorRed-rQXKgM {
    background-color: var(--accent-2);
}
.lookFilled-yCfaCM.colorRed-rQXKgM:hover {
    background-color: var(--accent-2);
    filter: saturate(0.8);
}
#app-mount .wrapper-29NfPK {
    background-color: transparent;
}
.list-2bwCXU {
    padding-left: 3px;
}
.wrapper-KXM2i0, #app-mount .wrapper-29NfPK.minimum-2d6zH6 .actions-2vadYq .center-1Vp33r {
    border: none!important;
    background-color: var(--transparent-2);
    padding: 6px 4px!important;
}
.wrapper-29NfPK.fullScreen-3DKbL8 .actions-2vadYq .center-1Vp33r:first-of-type, .wrapper-29NfPK.fullScreen-3DKbL8 .actions-2vadYq .side-kO0bwV:first-of-type, .wrapper-29NfPK.noChat-2qlG4B .center-1Vp33r:first-of-type, .wrapper-29NfPK.noChat-2qlG4B .side-kO0bwV:first-of-type, .wrapper-29NfPK.normal-2GSW0u .center-1Vp33r:first-of-type, .wrapper-29NfPK.normal-2GSW0u .side-kO0bwV:first-of-type {
    background: var(--transparent-1);
    border: 1px solid var(--accent-2)
}
.transition-2LXqa4:hover {
    transform: scale(1.15)!important;
}
.transition-2LXqa4 {
    transition-duration: 0.8s;
    transition-timing-function: cubic-bezier(0.21, 0.04, 0.61, 1.60);
}
.justifyCenter-rrurWZ.da-justifyCenter {
    overflow: visible!important;
}
.wrapper-1gVUIN {background: var(--transparent-3);}

/*--pins--*/
.messagesPopoutWrap-3zryHW, .messagesPopout-eVzQcI, .header-1w9Q93, .messageGroupWrapper-1jf_7C {
    background: var(--transparent-2)!important;
    max-height: 540px;
    border: transparent;
}
#app-mount .actionButtons-2mNSAB {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
}
#app-mount .jumpButton-1ZwI_j {
    background-color: var(--accent-2);
    color: white;
}
#app-mount .message-G6O-Wv {
    background-color: var(--transparent-1)
}

/*--add friends--*/
#app-mount .modal-2RrUKJ,  #app-mount .friendSelected-3cwmD7 {
    background-color: var(--transparent-2);
    color: #fff;
    box-shadow: none;
}

/*--search--*/
.search-1FM8Qc .searchBar-zdmu7v {
    width:30px;
    transition-duration:300ms;
    color: var(--accent-1);
    height: 30px;
    position: relative;
    top: 3px;
}
#app-mount .option-2KkUJO.selected-rZcOL- {background-color: var(--accent-2);}
.search-1FM8Qc .DraftEditor-root .public-DraftStyleDefault-block {
    background: var(--transparent-1);
    min-width: 170px;
    border-radius: 7px;
    padding: 0 0 0 3px;
}
.icon-18rqoe.visible-2yTnyW {
    transform: scale(1.4);
    color: var(--accent-1);
}
.search-1FM8Qc .searchBar-zdmu7v:hover {width:200px;}
.search-1FM8Qc.focused-8aNhVB .searchBar-zdmu7v {width: 244px;}

.searchResultsWrap-5RVOkx, .queryContainer-ZunrLZ.focused-2FU0YH {
  background: var(--transparent-1);
  overflow: hidden;
  border: none;
}
.channelName-3w2Y3c, .channelSeparator-1DOiGt:before {
	background-color: transparent;
}
#app-mount .container-2McqkF {
    background-color: var(--transparent-3);
    margin-left: -50px;
}
#app-mount .searchResultMessage-1fxgXh.sibling-1eJVjd {
    opacity: .3;
    filter: blur(0.9px);
}
#app-mount .expanded-w_LCGl .searchResultMessage-1fxgXh.after-20SH8W, #app-mount .expanded-w_LCGl .searchResultMessage-1fxgXh.before-2RL1Gz {
	filter: blur(0px);
    opacity: 1;
}
#app-mount .searchAnswer-23w-CH, #app-mount .searchFilter-2UfsDk,  #app-mount .jumpButton-JkYoYK {
	background-color: var(--accent-2)!important;
	color: white;
}
.searchResultMessage-1fxgXh, #app-mount .option-2KkUJO:after, .searchResult-O9NDji:after, .searchResult-O9NDji:before {
	background: none;
	border: none!important; border-radius: 13px !important;

}
    
#app-mount .calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--selected:hover,
#app-mount .calendarPicker-sDhzdi .react-datepicker__day:hover,
#app-mount .calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--selected:after,
#app-mount .datePicker-70cO23 .datePickerHint-17MnA8 .hintValue-1x-flY {
    background-color: var(--accent-2) !important;
}
#app-mount .calendarPicker-sDhzdi .react-datepicker__day {
    border-color: black !important;
}    
#app-mount .elevationBorderHigh-3drnJX {box-shadow: none;}

/*--upload--*/
#app-mount .uploadModal-2ie9O_, .theme-dark .footer-VCsJQY, #app-mount .footer-VCsJQY {
    background-color: var(--transparent-2);
    box-shadow: none;
}
.attachPopout-1EnBVV {
    border-radius: 13px;
    background-color: var(--transparent-3);
    box-shadow: none;
}

/*--gifs+emotes--*/
#app-mount .autocomplete-3NRXG8 {
    background-color: var(--transparent-3);
    border-radius: 13px;
}
.inspector-sdLnLS {background-color: var(--accent-2);}
.positionContainer-dMArNx {background: var(--transparent-3);}
#app-mount .selectorSelected-1_M1WV {
    background-color: rgba(250,250,250,0.2);
    transition: background-color .3s;
    border-radius: 7px;
}

/*--members list--*/
.membersGroup-2eiWxl {
    padding: 0px 8px 0 16px;
    height: 20px;
    border: none!important;
}
.members-3WRCEx {
    background-color: var(--transparent-1);
    border-radius: 0 0 13px 13px;
}

/*--settings--*/
.da-sidebarRegion {
    max-width: 218px;
}
.contentColumn-1C7as6, .customColumn-2n-oKU {
   max-width: 100%;
}
.theme-dark #bd-settings-sidebar .ui-tab-bar-item:hover, .theme-light #bd-settings-sidebar .ui-tab-bar-item:hover, #bd-settings-sidebar .ui-tab-bar-item.selected, .theme-dark .closeButton-PCZcma, theme-light .closeButton-PCZcma {
    background-color: rgba(100,100,100, 0.3)!important;
    border: 0.5px solid var(--accent-1);
}
.sidebarRegionScroller-FXiQOh, .contentRegionScroller-2_GT_N, .theme-dark .paymentPane-ut5qKZ, .theme-light .paymentPane-ut5qKZ, .theme-dark .paginator-1eqD2g, .theme-light .paginator-1eqD2g, .theme-dark .expandedInfo-1W31i3, .theme-light .expandedInfo-1W31i3 {
    border-radius: 13px;
    background-color: var(--transparent-1)!important;
}
.theme-dark .keybind-13vtq8, .theme-light .keybind-13vtq8 {
    color: var(--accent-2);
}
.barFill-2Bh7CX {
    background: var(--accent-2);
}
.cardPrimary-3qRT__, .cardPrimaryEditable-2mz_3i, .cardPrimaryOutline-1ofwVz, .standardSidebarView-E9Pc3j .contentRegion-3HkfJJ .bda-slist li, .theme-dark .codeRedemptionRedirect-3SBiCp, .theme-light .codeRedemptionRedirect-3SBiCp {
    background: var(--transparent-1);
    border: 0.5px solid var(--accent-2);
    color: white; 
}
.themeDefault-24hCdX.valueChecked-m-4IJZ, #bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch.checked,
.bd-pfbtn {
    background-color: var(--accent-2);
}
.css-15ejc46-control, .css-2yldzf-control, .css-1yegjoj-control {
    border-color: var(--accent-1)!important;
}
.css-15ejc46-control:hover, .css-15ejc46-control:focus {
    border-color: var(--accent-1);
    background: var(--transparent-1);    
}
.css-181m2lf-menu {
background: var(--transparent-3)!important;
}
.layer-86YKbF .standardSidebarView-E9Pc3j .contentRegion-3HkfJJ .bda-slist .bda-header, .theme-dark .bda-slist .bda-description, .theme-light .bda-slist .bda-description, .theme-dark #bd-settingspane-container h2.ui-form-title, .theme-dark #bd-settingspane-container .ui-switch-item h3, .theme-light #bd-settingspane-container h2.ui-form-title, .theme-light #bd-settingspane-container .ui-switch-item h3, .theme-dark #bd-settingspane-container .ui-switch-item .style-description, .theme-light #bd-settingspane-container .ui-switch-item .style-description, .theme-dark #bd-settings-sidebar .ui-tab-bar-item:hover, .theme-light #bd-settings-sidebar .ui-tab-bar-item:hover {
    color: white!important;
}
.css-181m2lf-menu {
  border: none;
  box-shadow: none;
}
.radioGroup-1GBvlr .item-2idW98 .checkboxWrapper-2fDzaA {
  margin-left: 10px;
}
.themeDefault-24hCdX {
    background-color: rgb(75,75,75);
}
.themeDefault-24hCdX:hover {
    background: linear-gradient(90deg,rgb(75,75,75),var(--accent-2));
    transition-duration: 0.5s;
}
/*--server settings--*/
clickable-2ap7je .header-2o-2hj {
    height: 26px;
}
.theme-dark .auditLog-3jNbM6, .theme-light .auditLog-3jNbM6 {
    border-color: var(--accent-2);
}
.customScroller-m1-jZn { 
    background-color: var(--transparent-1)!important;
}
.theme-dark .tierHeaderLocked-1a2opw {
    background-color: var(--transparent-1);
    color: white;
    z-index: 2;
}
.theme-dark .background-3xJH_4, .theme-dark .tierInProgress-1vFUnw {
    color: var(--transparent-2);
    background-color: var(--transparent-2);
}
.tierBody-x9kBBp {
    padding: 80px 16px 16px 16px;
    border-radius: 13px;
    bottom: 65px;
    position: relative;
    background: linear-gradient(90deg,#3e70dd,#b377f3) no-repeat;
}
.disableColor-MwOAZf, .iconBackgroundTierNone-3MPhMJ, .iconBackgroundTierOne-2LhaMB, .iconBackgroundTierThree-3qw3JX, .iconBackgroundTierTwo-3bCmdc {
    color: var(--accent-2);
}
.theme-dark .card-2ART2V:before {
    box-shadow: inset 0 0 0 0.5px var(--accent-2);
    background: linear-gradient(to right, var(--transparent-1), transparent)!important;
    border: none;
}

/*--bd stuff--*/

.bd-modal-wrapper .bd-modal-inner {
    border: 1px solid var(--accent-2)
}
.ace-monokai .ace_gutter {
    background: none!important;
    color: #98ad2b;
}
.ace-monokai {
    background: var(--transparent-1)!important;
    color: blue;
}

/*--toast notifs--*/
.toast, .bd-toast {
    background: black!important;
    border: 1px solid var(--accent-2)!important;
    border-radius: 13px!important;
    color: var(--accent-1)!important;
    right: 100px!important;
}
.bd-toasts, .toasts {
    width: calc(100% - 10px)!important;
    position: absolute;
    top: initial!important;
    right: 0px!important;
    bottom: 0px!important;
    left: 0px!important;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: flex-end!important;
}

/*--BD update--*/
#pluginNotice,
.DevilBro-notice {
    border-radius: 13px!important;
    margin-bottom: 4px;
    background: var(--accent-2)
}

/*test code*/
.banner-3Kac2g {
   background: var(--accent-2)!important;
   opacity: 0.5;
}
