@import url('https://fonts.googleapis.com/css?family=Montserrat');
:root { --accent: 49, 56, 97}
#app-mount {
    --background-primary: #2e2e2e;
    --background-secondary: #252525;
    --background-secondary-alt: #212121;
    --background-tertiary: #1a1a1a;
    --background-floating: #1f1f1f;
    --channeltextarea-background: #212121;
    --background-modifier-selected: rgba( var(--accent));
    --background-modifier-active: rgba( var(--accent));
    --background-modifier-hover: rgba(var(--accent), 0.5);
    --text-link: #93c9d7;
    --background-accent: rgba(var(--accent), 1);
    --brand-experiment-560:rgba(var(--accent), 1);
    --brand-experiment: rgb(var(--accent));
 }
 /*font*/
body, div, span, textarea, ::-webkit-input-placeholder {font-family: 'Montserrat', serif;}
.name-3Vmqxm span, .username-h_Y3Us, .channelName-3KPsGw, .title-3XlmeX {font-weight: 400; font-size: 17px; text-decoration: underline;}
.name-3Vmqxm span:hover, .username-h_Y3Us:hover, .channelName-3KPsGw:hover, .title-3XlmeX:hover {font-weight: bolder;}
.hljs, .inline,
.hljs :-webkit-any(ol, li, span),
.editor-wrapper :-webkit-any(textarea, div, span) {font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;}
 /*scrollers*/ 
::-webkit-scrollbar-track-piece {
    background: transparent!important;
    border: none!important;
    border-radius: 0!important;
  }
  :not(.scroller-3X7KbA)::-webkit-scrollbar-thumb {
    background: rgba( var(--accent))!important;
    border: none!important;
    border-radius: 0!important;
  }
  ::-webkit-scrollbar-track-piece {
    background: transparent!important;
    border: none!important;
    border-radius: 0!important;
  }
:not(.scroller-3X7KbA)::-webkit-scrollbar {width: 5px!important;}

.base-2jDfDU {
   margin: -100px; padding: 100px; 
   z-index: 1;
}
/* Guild List */
.guilds-2JjMmN {
    max-height: 75vh;
    padding-left: 2px;
    -webkit-mask: linear-gradient(0deg, transparent, black 7%);
    mask: linear-gradient(0deg, transparent, black 7%);
    z-index: 2;

}
[id*="folder-items"] {height: unset!important;}
.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub, .wrapper-3kah-n:hover .childWrapper-1j_1ub {background-color: rgba( var(--accent));}
#bd-pub-li {margin: 0;}
#bd-pub-button {
   background-color: var(--background-primary);
   border-radius: 0;
   transition-duration: 0.3s;
}
#bd-pub-button:hover {background-color: rgba( var(--accent));}
.item-2LIpTv, .wrapper-z5ab_q {
   border-radius: 0;
   height: 60px; width: 6px!important;
   margin-left: 0px;
   z-index: 3;
   pointer-events: none;
}
.tutorialContainer-1pL9QS ~ div[style*="56px"] {
   height: 60px!important;
}

.item-2LIpTv[style*="40px"] {height: 60px!important;}
.item-2LIpTv {
   background-color: rgba( var(--accent));
   pointer-events: none;
}
.guildSeparator-a4uisj {display: none}
.listItem-3SmSlK {
   border: 1px solid var(--background-secondary);
   height: min-content; width: min-content; 
   margin: 0;
}
.wrapper-28eC3z {border-left: 1px solid var(--background-secondary);}
.wrapper-28eC3z {margin-left: 6px;}
.listItem-3SmSlK .wrapper-28eC3z, .listItem-3SmSlK .wrapper-28eC3z svg {height: 60px; width: 60px;}
.listItem-3SmSlK * {
   border-radius: 0;
   mask: none;
}
.expandedFolderBackground-2sPsd- {
   background-color: var(--background-primary) ;
   width: 58px;
   left: 7px;
}
.numberBadge-37OJ3S.base-3IDx3L {
   border-left: 1px solid var(--background-primary); border-top: 1px solid var(--background-primary);
   border-radius: 0;
}
.upperBadge-1V6Iyi .iconBadge-1D5-9X {
   border-left: 1px solid var(--background-primary); border-bottom: 1px solid var(--background-primary);
   border-radius: 0;
}
/* Sidebar and Chat */
.sidebar-1tnWFu .scroller-WSmht3, .sidebar-1tnWFu .scroller-1ox3I2, .panels-3wFtMD {width: 0;}
.sidebar-1tnWFu:hover .scroller-WSmht3, .sidebar-1tnWFu:hover .scroller-1ox3I2, .sidebar-1tnWFu:hover .panels-3wFtMD {width: 240px;}
.container-2cd8Mz, .chat-2ZfjoI, .container-36u7Lw, .applicationStore-2nk7Lo {overflow: visible;}
.container-1zzFcN, .activityPanel-9icbyU {overflow: hidden;}
.chatContent-3KubbW:not([aria-label="Thread"]), #app-mount .tabBody-2dgbAs, .stickyScroller-2KHfQk, .scroller-29cQFV {
    background-color: var(--background-primary);
    width: calc(100% + 240px);
    margin-left: -240px;
}

.wrapper-1gVUIN.minimum-fXpVNc, .wrapper-1gVUIN.normal-qRirv5 {
    position: absolute;
    width: 100%;
}
.wrapper-1gVUIN.minimum-fXpVNc + div .searchResultsWrap-5RVOkx {
   height: calc(100% - 190px);
   margin-top: 190px;
   bottom: 0;
}
div + .content-1jQy2l {
    max-height: calc(100% - 48px);
    margin-top: 48px;
    -ms-flex-align: center;
}
.sidebar-1tnWFu:hover + div + div .chatContent-3KubbW,.sidebar-1tnWFu:hover + div .chatContent-3KubbW, #app-mount .sidebar-1tnWFu:hover + div .tabBody-2dgbAs,
 .sidebar-1tnWFu:hover + div .stickyScroller-2KHfQk, .sidebar-1tnWFu:hover + div .scroller-29cQFV {
    width: 100%!important; margin-left: 0!important;
}
.theme-dark .container-2cd8Mz {
    width: calc(100vw - 312px);
}
.chatContent-3KubbW,#app-mount .tabBody-2dgbAs, .scroller-WSmht3, .scroller-1ox3I2, .scroller-29cQFV, .stickyScroller-2KHfQk, .panels-3wFtMD, .content-1jQy2l {transition: width 0.6s, margin-left 0.6s;}
.activityPanel-9icbyU {padding: 8px 0;}
.sidebar-1tnWFu:hover .activityPanel-9icbyU {padding: 8px;}
[href="/discovery"] {display: none;}

/* Friends List */
.peopleColumn-1wMU14 .scrollerBase-_bVAAt {
    overflow: visible !important;
}

.peopleColumn-1wMU14>div>div {
   display: grid;
   grid-template-columns: 33% 33% 33%;

}
.peopleColumn-1wMU14 {
   overflow: hidden scroll;
}
.peopleColumn-1wMU14 {
   padding: 30px 0 0 0;
}
.peopleColumn-1wMU14 .title-3XlmeX {
   font-size: 24px;
   position: absolute;
   top: -5%;
   left: 40%;
   overflow: visible;
}
.text-MPIeXO {display: none;}
.peopleListItem-u6dGxF {
   border: 1px solid rgba( var(--accent))!important;
   margin: 0!important;
   padding: 50px 10px!important;
}
.peopleListItem-u6dGxF.active-2UF8Zh, .peopleListItem-u6dGxF:hover {
   background-color: transparent;
}
.avatar-2MSPKk {width: 64px!important; height: 64px!important;}
.actions-YHvpIT {flex-direction: column;}
.actionButton-3-B2x- {margin: 2px 0;}
/* User Info */
.avatarWrapper-1B9FTW .wrapper-1VLyxH foreignObject {mask: none;}
.container-YkUktl {
   width: 72px;
   padding: 0;
   display: flex;
   flex-direction: column;
   position: absolute;
   left: -75px;
   bottom: 100px;
}
.nameTag-sc-gpq.canCopy-IgTwyV {
    background-color: black;
    width: 0;
    padding: 5px 0;
    transition-duration: 0.3s;
    position: absolute;
    left: 55px;
    top: 30px;
    z-index: 3;
}
.avatarWrapper-1B9FTW, .nameTag-sc-gpq.canCopy-IgTwyV {margin: 0;}
.avatarWrapper-1B9FTW:hover + .nameTag-sc-gpq.canCopy-IgTwyV, .nameTag-sc-gpq.canCopy-IgTwyV:hover {
    width: 100px; 
    padding: 5px;
}
.avatarWrapper-1B9FTW {
    z-index: 2;
    pointer-events: none;
}
.avatarWrapper-1B9FTW img {
    border-radius: 50%;
}
.container-YkUktl .directionRow-2Iu2A9 {
    margin-top: 40px;
    flex-direction: column;
}
.container-YkUktl .directionRow-2Iu2A9 .button-12Fmur:last-of-type {
    opacity: 0;
    bottom: calc(100% + 40px);
}
.directionRow-2Iu2A9 .button-12Fmur:last-of-type :hover svg {
    opacity: 1;
}
#app-mount .avatarWrapper-1B9FTW .mask-1FEkla > rect[x="22"] {
    x: 6;
    y: 42;
    width: 20px; height: 20px;
    mask: none;
    clip-path: circle(50.0% at 50% 50%);
}
#app-mount .avatarWrapper-1B9FTW .mask-1FEkla {border-radius: 40px;}
#app-mount .avatarWrapper-1B9FTW .mask-1FEkla rect:not(.pointerEvents-9SZWKj) {
    x: -8.5;
    y: 25;
    width: 20px; height: 20px;
    mask: none;
    clip-path: circle(50.0% at 50% 50%);
}
#app-mount .wrapper-1VLyxH svg:not(:root) {
    overflow: visible;
    border-radius: 20px;
}
.avatar-1EWyVD foreignObject {
   overflow: visible;
}
/* Avatars */ 
.wrapper-1VLyxH foreignObject, .avatarHint-1E3LMl foreignObject, .viewer-2fFR_X, .callAvatarMask-fiNMWy foreignObject {
   mask: none!important; -webkit-mask: none;
   border-radius: 0; 
}
.avatarHint-1E3LMl {left: 4px; top: 4px;}
.avatar-2e8lTP, .wrapper-1VLyxH img, .voiceAvatar-lRbblo {
   border-radius: 0;
   clip-path: polygon(25% 0%, 100% 0, 100% 50%, 75% 100%, 0 100%, 0% 50%);
   transition-duration: 0.7s;
}
.avatar-2e8lTP:hover, .wrapper-1VLyxH:hover img, .callAvatarMask-fiNMWy:hover img {clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0% 50%)}
.border-2BJQjd.speaking-3RWJBr { /*call speak*/
   background-color: rgb(var(--accent));
   box-shadow: inset 0 0 0 2px rgb(var(--accent));
   border-radius: 0!important;
   z-index: -1;
   margin: -2px;
}
.callAvatarMask-fiNMWy div { /*stop the circle*/ border-radius: 0!important;}
/* Status Popout */
#status-picker {
    width: max-content;
    top: 160px; left: 60px;
    display: flex;
    flex-direction: column;}
#status-picker .separator-1So4YB:nth-child(2),
#status-picker .item-1OdjEX .description-3Cwkxk,
#status-picker .item-1OdjEX .status-3TYC5W {
    display: none;
}

#status-picker .item-1OdjEX .statusItem-2hiCNB {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#status-picker svg {transform: scale(1.25);}

/* font */
   /*profile modal*/ 
.root-SR8cQa {
   border-radius: 0;
   height: 300px!important; width: 70vw!important;
   flex-direction: row;
}
.topSectionPlaying-1J5E4n, .topSectionNormal-2-vo2m, .topSectionSpotify-1lI0-P, .topSectionStreaming-1Tpf5X {
   min-width: 300px; max-width: 300px;
   overflow-y: scroll;
   overflow-x: hidden;
}
.header-QKLPzZ, .infoScroller-3EYYns, .activity-1ythUs {
   padding: 5px;
   align-items: center;
   flex-direction: row;
   flex-wrap: wrap;
}
.topSectionPlaying-1J5E4n, .topSectionSpotify-1lI0-P, .topSectionStreaming-1Tpf5X {background-color: var(--background-tertiary);}
.topSectionPlaying-1J5E4n .activity-1ythUs {background-color: #7289da;}
.topSectionSpotify-1lI0-P .activity-1ythUs {background-color: #1db954;}
.topSectionStreaming-1Tpf5X .activity-1ythUs {background-color: #593695;}
.avatar-3EQepX {
   margin-right: 5px;
}
.header-QKLPzZ .grow-q77ONN {
   width: 300px;
   margin-top: 5px;
}
.header-QKLPzZ > [tabindex="0"] {
   position: absolute;
   left: 260px;
}  
.activity-1ythUs .bodyNormal-250CQK {flex-wrap: wrap;}
.contentImagesProfile-27BIzt {max-width: 190px;}
.actionsProfile-31n1ca {margin: 0;}
.contentImagesProfile-27BIzt {
    justify-content:  center!important;
    text-align: center;
}
.root-SR8cQa .tabBarContainer-1s1u-z {
   border: none;
   padding-left: 30px;
   position: absolute;
   top: 0; left: 300px;
}
.tabBar-2MuP6- {height: 30px;}
.body-3ND3kc {
   height: 100%; width: 42vw;
   margin-top: 30px;
}
.connectedAccounts-repVzS {
   display: grid;
   grid-template-columns: 20vw 20vw;
   align-items: center;
}
.connectedAccount-36nQx7 {
   max-width: 90%;
   margin: 4px; padding: 5px
}
/*avatar popout*/
.avatar-2Vndt_, .avatar-3QF_VA {
   background-color: var(--background-secondary);
   border: 4px solid var(--background-secondary); border-radius: 0;
   }
.userPopout-3XzG_A {
   background-color: var(--background-secondary);    border-radius: 0px;

}
#app-mount .headerNormal-T_seeN, #app-mount .body-3iLsc4 {background-color: transparent;}
.body-3iLsc4 {
   padding: 5px;
   justify-content: center;
   align-items: center;

}
.footer-1fjuF6 {
    display: none;
}
.root-jbEB5E {
   background-color: var(--background-tertiary);
   max-width: 300px; max-height: 75px;
   margin-top: 0; margin-bottom: 5px; padding: 5px;
   overflow-y: scroll;
}
.note-3HfJZ5 {
   background-color: var(--background-tertiary);
   max-height: 70px!important;
   overflow-y: scroll;
   margin: 0;
}
.input-2g-os5, .input-2g-os5:hover {background-color: transparent!important;}
/*settings*/

.standardSidebarView-E9Pc3j .contentRegion-3HkfJJ {
   z-index: auto;
}

.standardSidebarView-E9Pc3j .keybind-13vtq8 {
   display: none;
}
 
.standardSidebarView-E9Pc3j .tools-kIrEGr {
   position: static;
}

.standardSidebarView-E9Pc3j .closeButton-PCZcma {
   position: fixed;
   cursor: default;
   height: 100vh;
   width: 100vw;
   top: 0;
   left: 0;
   border: none;
   border-radius: 0;
   z-index: -1;
   transition:.2s linear;
}

.standardSidebarView-E9Pc3j .closeButton-PCZcma:hover {
   background-color: transparent;
}
.standardSidebarView-E9Pc3j .closeButton-PCZcma svg {
   display: none;
}
#app-mount .layer-86YKbF[aria-label*=SETTINGS] {
   display: flex;
   align-items: center;
   justify-content: center;
   background: rgba(0, 0, 0, 0.7)!important;
   transform: none !important;
   z-index:100;
}
#app-mount .layer-86YKbF[aria-label*=SETTINGS]>div {
 
   position: relative;
   width: 90%;
   height: 80%;
   z-index: 3!important;
   border-radius: 0;
   overflow: hidden;
}
.sidebarRegion-1VBisG {max-width: 218px;}
.contentColumn-1C7as6, .customColumn-2n-oKU {
   max-width: 100%;
}
#app-mount .layer-86YKbF.baseLayer-W6S8cY {
   opacity: 1 !important;
   transform: scale(1) !important;
}

.sidebar-nqHbhN {padding: 0}
.contentColumnDefault-3eyv5o {padding: 0 10px}
.cardPrimary-3qRT__, .cardPrimaryEditable-2mz_3i {background-color: var(--background-tertiary);}
.input-2g-os5 {
   background-color: var(--channeltextarea-background);
   border: none; border-radius: 0;
}
.multiInputLast-1aQ3YA:before {
   background-color: rgba( var(--accent));    opacity: 1;
   border: none;
   height: 40px;
   margin: 0;
}